.lcc-tree {
    background: #E5F1F5;
    display: flex;
    .text-block, 
    .text-highlight {
        border-color: #9bc9d9;
    }
}

.lcc-tree-card {
    display: none;    
    width: 100%;
    padding:20px;
    @media (min-width: 641px) {
        padding:30px;
    }
}

.lcc-tree-card-content {
    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
        margin-top: 0;
    }
}
.lcc-tree-card-actions {
    display: flex;
    margin-bottom: -15px;
    .btn {
        margin: 0 15px 15px 0;
    }
}

.lcc-tree-controls {
    margin-top: 15px;
}