/*temporarily hide masterhead*/
.masterhead {
    display:none;

    &.lcc{
      display:block;
    }
}

//logo
.header-left{
  padding-left: 0 !important;
}
.logo {
    height: auto;
    width: auto;
    background: none;
    display:inline-block;
    margin:9px 0;
    text-decoration:none;
    border:0;

    &:after{
        content:'LEEDS.GOV.UK';
        font-size:36px;
        text-transform:uppercase;
        font-weight:700;
        color: #fff;

        @media (max-width: 767px) {
              font-size:26px;
          }
    }

    &:hover{
      color:$light-grey;
    }
}

//nav
.main-nav ul li {

    a{
      font-size:18px;
      padding:12px;
      text-decoration:none;
    }
}

//secondary-nav
.secondary-nav{
  .heading-contents{
    margin-top:0;
  }
}

@media screen and (max-width: 400px){
  .highlighted a.btn {
      width: auto;
  }
}

