//news custom for leeds.gov.uk
#paging {
    .contentPod {
        a{
            text-decoration:none !important;

            &:hover{
                background:$lighter-grey;
            }

            p.date{
                margin-top:0;
                font-size:14px;
                font-weight:700;
            }

            h3{
                color:$base-link-color;
                margin-bottom:10px;
                text-decoration:underline;
            }
        }
    }
}
#archive{
    .content-block{
        padding:20px 0 !important;
    }
}