.mega-promo{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0 5px -15px;

    .mega-promo__item{
        padding-left: 15px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-bottom:15px;

        a{
            display: block;
            width: 100%;
            box-sizing: border-box;
            background:$promo-background-color;
            position:relative;
            text-decoration:none;

            &:focus{
                .mega-promo__header,
                .mega-promo__secondary{
                    color:$black !important;
                }
            }

            &:after {
                font-family: FontAwesome;
                content: "\f054";
                position: absolute;
                right: 20px;
                bottom: 20px;
                color:$promo-arrow-color;
                font-size:24px;

                @media (max-width: 500px) {
                    display:none;
                }
            }

            &:hover{
                background:darken($promo-background-color, 5%);
                text-decoration:none;

                .mega-promo__img{
                    opacity:0.8;
                }

                .mega-promo__header{
                    text-decoration:underline;
                }
            }

            .mega-promo__img-wrapper{
                display: block;
                position: relative;
                z-index: 1;
                background-color: lighten($promo-background-color, 25%);
                padding-bottom: 56.25%;
                float: none;
                margin: 0;
                width: 100%;

                .mega-promo__img{
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: block;
                    padding-bottom: 56.25%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
            }
            .mega-promo__content{
                display:block;
                padding:20px 60px 20px 20px;

                @media (max-width: 500px) {
                    position:relative;
                    padding:15px;
                }

                .mega-promo__header{
                    color:$promo-header-color;
                    margin:0 0 5px;
                    font-size:24px;
                    line-height:30px;
                    font-weight:600;

                    @media (max-width: 500px) {
                        font-size:21px;
                        line-height:26px;
                    }
                }

                .mega-promo__secondary{
                    color:$promo-secondary-color;
                    margin:0;
                    font-size:18px;
                    line-height:24px;
                    font-weight:300;

                    @media (max-width: 500px) {
                        font-size:16px;
                        line-height:20px;
                    }

                }
            }

            .mega-promo__highlight{
                background:$promo-highlight-background-color;
                color:$promo-highlight-color;
                position:absolute;
                top:0;
                right:0;
                z-index:2;
                padding:10px;
            }
        }

        &.featured{
            width:100% !important;

            @media (min-width: 500px) {
                .mega-promo__header{
                    font-size:32px !important;
                    line-height:36px !important;
                    margin-bottom:10px !important;
                    color:$promo-header-color;
                }

                .mega-promo__highlight{
                    font-size:20px !important;
                }
            }

            @media (min-width: 767px) {
                .mega-promo__header{
                    font-size:40px !important;
                    line-height:44px !important;
                }
            }

            @media (min-width: 990px) {

                a{
                    &:after {
                        right: 30px;
                        bottom: 30px;
                        font-size:32px;
                    }

                    .mega-promo__img-wrapper{
                        display: inline-block;
                        width: 66.66%;
                        float:left;
                        padding-bottom:37.5%;

                        .mega-promo__img{
                            padding-bottom:37.5%;
                        }
                    }

                    .mega-promo__content{
                        float:right;
                        display:inline-block;
                        width:33.33%;
                        padding:30px;
                    }

                    .mega-promo__highlight{
                        right:auto;
                        left:0;
                    }
                }
            }

        }

        &.two-thirds{
            width:66.66% !important;
        }

        &.half{
            width:50% !important;
        }

        &.two-thirds,
        &.half{

            @media (min-width: 767px) {
                .mega-promo__header{
                    font-size:32px !important;
                }
            }
        }

        &.third{
            width:33.33% !important;
        }

        &.quarter{
            width:25% !important;

            .mega-promo__header{
                font-size:21px !important;
                line-height:26px !important;
            }

            @media (max-width: 767px) {
                width:50% !important;
            }

            @media (max-width: 500px) {
                width:100% !important;
            }
        }

        @media (max-width: 767px){

            &.two-thirds,
            &.half,
            &.third{
                width:100% !important;
            }
        }

        @media (min-width: 767px){

            &.third,
            &.quarter{
                a{
                    padding-bottom:50px;

                    .mega-promo__content{
                        padding:20px;
                    }
                }
            }
        }

        &.no-img{
            &.third,
            &.quarter {
                a{
                    padding-bottom:0 !important;
                }
            }

            a{
                &:after{
                    display:none;
                }
            }

            .mega-promo__img-wrapper{
                display:none;
            }

            .mega-promo__header{
                font-size:32px !important;
                line-height:36px !important;

                @media (max-width: 500px) {
                    font-size:24px !important;
                    line-height:30px !important;
                }
            }
            .mega-promo__highlight{
                position:relative;
                top:auto;
                right:auto;
                padding:10px;
                display:inline-block;
                margin:-5px 0 20px 20px;
            }
        }
    }
}

//colors
@mixin mega-promo-colors($promo-background-color, $promo-header-color, $promo-secondary-color, $promo-arrow-color, $promo-highlight-background-color, $promo-highlight-color) {
    a{
        background:$promo-background-color;

        &:after {
            color:$promo-arrow-color;
        }

        &:hover{
            background:darken($promo-background-color, 5%);
        }

        .mega-promo__content{

            @media (max-width: 500px) {
                &:after{
                    color:$promo-arrow-color;
                }
            }

            .mega-promo__header{
                color:$promo-header-color;
            }

            .mega-promo__secondary{
                color:$promo-secondary-color;
            }
        }

        .mega-promo__highlight{
            background:$promo-highlight-background-color;
            color:$promo-highlight-color;
        }
    }
}

.mega-promo{
    .mega-promo__item{
         &.blue{
            @include mega-promo-colors($blue, $white, $white, $white, $promo-highlight-background-color, $promo-highlight-color);
        }
    }
}