.pagination-nav {
    display: block;
    margin: 50px 0;
    border-top: 2px solid $lighter-grey;
    border-bottom: 2px solid $lighter-grey;

    ul{
        margin: 0;
        padding: 0;

        li{
            font-size: 16px;
            line-height: 1.14286;
            float: left;
            list-style: none;
            text-align: right;
            margin: 0;
            padding: 0;
            width: 49%;

            &.pagination-nav__previous-page{
                float: left;
                text-align: left;


                a{
                    padding: 0.75em 0 0.75em 3em;

                    &:before{
                        content: '\f104';
                        left: 7px;
                        top: 0;
                    }
                }

            }

            &.pagination-nav__next-page{
                float: right;
                text-align: right;

                a{
                    text-align: right;
                    padding: 0.75em 3em 0.75em 0;

                    &:before{
                        content: '\f105';
                        right: 7px;
                        top: 0;
                    }
                }
            }

            &.pagination-nav__previous-page,
            &.pagination-nav__next-page{
                @media (max-width: 640px){
                    float:none;
                    width:100%;
                }
            }

            a{
                display: block;
                text-decoration: none;
                border:0;
                position:relative;

                &:hover{
                    background:$lighter-grey;
                    color:$blue;
                }

                &:before{
                    font-family: FontAwesome;
                    position: absolute;
                    color: lighten($blue,10%);
                    font-size:60px;
                }

                .pagination-nav__part-title{
                    font-size: 20px;
                    line-height: 1.11111;
                    margin-bottom: 0.1em;
                    display: block;

                    @media (min-width: 641px){
                        font-size: 27px;
                        line-height: 1.25;
                    }
                }

                .pagination-nav__label{
                    color:$blue;
                }
            }
        }
    }
}