.part-navigation__container{
    margin-top:30px;
    padding-bottom:8px;
    margin-bottom:45px;
    border-bottom:2px solid $lighter-grey;

    @media (max-width: 640px){
        padding-bottom:3px;
        margin-bottom:30px;
    }

    nav {
        ol{
            @extend .two-columns;
            padding:0;

            li{
                font-size:16px;
                margin-bottom:12px;
                list-style: decimal;
                margin-left: 1.5em;
                padding-left: 0.3em;
            }
        }
    }  
}