//button
.limitedrte-Style-BUTTON {
    @extend .btn;
    @extend .btn-primary;
    display:inline-block;
    cursor:pointer;
}

//typography
.ms-rtestate-field h1.ms-rteElement-H2, 
.ms-rtestate-field h2.ms-rteElement-H2, 
.ms-rtestate-field h3.ms-rteElement-H2, 
.ms-rtestate-field h4.ms-rteElement-H2, 
.ms-rtestate-field h5.ms-rteElement-H2,
.ms-rtestate-field h1, 
h1.ms-rteElement-H1, 
.ms-rtestate-field h2, 
h2.ms-rteElement-H2{
    font-weight:700;
    padding:0;
    display:block;
}

.ms-rtestate-field h1.ms-rteElement-H2{
    line-height: 1.0377358491;
}

.ms-rtestate-field h2.ms-rteElement-H2,
.ms-rtestate-field h2, 
h2.ms-rteElement-H2{
    line-height: 1.2;
}

.ms-rtestate-field h3.ms-rteElement-H2{
    line-height: 1.25;
}

.ms-rtestate-field h4.ms-rteElement-H2{
    line-height: 1.1428571429;
}

.ms-rtestate-field h5.ms-rteElement-H2{
    line-height: 1.1428571429;
}




.ms-rtestate-field p, 
p.ms-rteElement-P {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;

    @media (min-width: 641px) {
        margin-top: 0.2631578947em;
        margin-bottom: 1.0526315789em;
    }
}

//lists
.freeContentArea ul.list{
    @extend .list;
    list-style:none;
}

.freeContentArea ul{
    @extend .list;
    @extend .list-bullet;
    list-style-type: disc;
}

//tables
table.styledTable {
  font-size: 1em;
  margin: 20px 0;
  background: transparent;
  border-collapse: collapse;
  width: 100%; 
  
  th {
  padding: 8px;
  text-align: left;
  border: 0;
  background: transparent;
  margin: 0px; }

  tr.resultsAlternatingRowStyle td {
  background: #f6f6f6; }

  td {
  padding: 8px;
  border: 0;
  margin: 0px;
  background: #fff; }

  tbody th {
  background: #fff; }

  img {
  margin: 0 30%; }

  p {
  font-size: 1em;
  padding: 0 0 10px 0; }
  
  }

table.styledTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

table.styledTable th,
.ms-rteTableHeaderRow-default th{
    font-weight: 700 !important;
    color:$base-font-color !important;
}

.ms-rteTable-default, 
.ms-rteTable-default > tbody > tr > td, 
.ms-rteTable-default > tbody > tr > th, 
td.ms-rteTable-default, 
th.ms-rteTable-default, 
.ms-rtetablecells{
    border:0;
    color:$base-font-color !important;
}

table.styledTable th, 
table.styledTable td,
.ms-rteTable-default th,
.ms-rteTable-default td {
    @extend .font-small;
    padding: 0.63158em 1.05263em 0.47368em 0;
    text-align: left;
    border-bottom: 1px solid $light-grey !important;
}