/*temporarily hide masterhead*/
.masterhead {
    display:none;

    &.lcc{
      display:block;
    }
}

//logo
.header-left{
  padding:0 !important;
}
.logo {
    height: auto;
    width: auto;
    background: none;
    display:inline-block;
    margin:9px 0;
    text-decoration:none;
    border:0;
    font-family:$font-secondary;
    font-weight:600;

    &:after{
        content:'LCC DIGITAL';
        font-size:36px;
        text-transform:uppercase;
        font-weight:700;
        color: #fff;

        @media (max-width: 767px) {
              font-size:26px;
          }
    }

    &:hover{
      color:$border-color;
    }
}

//nav
.main-nav ul li {
    a{
      font-size:18px;
      padding:12px;
      text-decoration:none;
    }
}

//secondary-nav
  .heading-contents{
    margin-top:0.46875em;
  }

@media screen and (max-width: 400px){
  .highlighted a.btn {
      width: auto;
  }
}

//hr
hr {
    margin-top: 40px;
}

.copyright{
  @media (min-width: 767px){
      text-align:right !important;
      margin-top:50px;
  }
}

.lcc-digital-header{
  background:$lighter-grey;
  padding:60px 0;

  h1,
  p{
    width:50%;
  }

  h1{
    margin:0 0 20px;
  }

  p{
    font-size:24px;
    margin:0;
  }

}

