.swatch {
  width: 60px;
  height: 60px;
  @include border-radius(100%);
}

@media (max-width: 640px) {
  .swatch {
    clear: both;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 641px) {
  .swatch {
    margin: 0 auto 15px auto;
  }
}

.swatch-text-colour {
  background-color: $base-font-color;
}

.swatch-text-secondary {
  background-color: $secondary-font-color;
}

.swatch-page-colour {
  background-color: #fff;
  border: 1px solid $border-color
}

.swatch-button-colour {
  background-color: $button-color;
}

.swatch-button-hover-colour {
  background-color: $button-hover-color;
}

.swatch-link-colour {
  background-color: $base-link-color;
}

.swatch-link-colour-visited {
  background-color: $base-link-visited-color;
}

.swatch-link-colour-hover {
  background-color: $base-link-hover-color;
}

.swatch-border-colour {
  background-color: $border-color;
}

.swatch-panel-colour {
  background-color: $panel-color;
}

.swatch-focus {
  background-color: $focus-color;
}

@media (min-width: 641px) {
  .swatch-wrapper {
    float: left;
    width: 20%;
    text-align: center;
  }
}

.swatch-wrapper .heading-small {
  margin-bottom: 0.5263157895em;
}

.swatch-wrapper ul {
  list-style-type: none;
  padding-bottom: 15px;
  padding-left:0;
}

@media (max-width: 640px) {
  .swatch-wrapper ul {
    min-height: 50px;
    padding-top: 10px;
  }
}

.swatch-wrapper li {
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  .swatch-wrapper li {
    font-size: 16px;
    line-height: 1.25;
  }
}

.swatch-wrapper b {
  font-weight: bold;
  text-transform: uppercase;
}
