body {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 641px) {
  body {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xxlarge {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 53px;
  line-height: 1.0377358491;
}

@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

h1,
.font-xlarge {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
}

@media (min-width: 641px) {
  h1, 
  .font-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

h2,
.font-large {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
}

@media (min-width: 641px) {
  h2,
  .font-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

h3,
.font-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 641px) {
  h3,
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

h4,
.font-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 641px) {
  h4,
  .font-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

h5,
.font-xsmall {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  h5,
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 53px;
  line-height: 1.0377358491;
}

@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.bold-xlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
}

@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.bold-large {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
}

@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.bold-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.bold-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.bold-xsmall {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold {
  font-weight: 700;
}

h1,
.heading-xlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
  h1,
  .heading-xlarge {
    font-size: 50px;
    line-height: 1.0416666667;
  }
}

@media (min-width: 641px) {
  h1,
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}

.heading-xlarge .heading-secondary {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  line-height: 1.1111111111;
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

h2,
.heading-large {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
  margin-top: 1.0416666667em;
  margin-bottom: 0.4166666667em;
}

@media (min-width: 641px) {
  h2,
  .heading-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  h2,
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
  }
}

.heading-large .heading-secondary {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

h3,
.heading-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@media (min-width: 641px) {
  h3,
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  h3,
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.8333333333em;
  }
}

h4,
.heading-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  h4,
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  h4,
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}

@media (min-width: 641px) {
  p {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.lead {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;

  &.header{
    margin-bottom:50px;
  }
}

@media (min-width: 641px) {
  .lead {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text {
  max-width: 35em;
}


//typography
h1,
h2,
h3,
h4,
h5{
    font-family: $font-primary, sans-serif;
    color: $header-font-color;
    font-weight: 700;
}

.text-description{
  margin-bottom:0;
  font-size:18px;
  font-weight:300;
}

.text-highlight{
  border-left: 10px solid $border-grey;
  padding:15px;
  width:100%;
  margin-bottom:20px;

  p{
    margin:0;
  }

  &.text-highlight--blue{
    border-color:$brand-color;
    background:rgba($brand-color, 0.1);
  }

  &.text-highlight--green{
    border-color:$green;
    background:rgba($green, 0.1);
  }
}

//typography - notice
.notice{
  position:relative;

  i{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    font-size:30px;
  }

  strong {
    display: block;
    padding-left: 55px;
    margin-left: -15px;
  }
}

//links
a {
    color: $base-link-color;
    text-decoration: underline;

    &:hover{
         color:darken($base-link-color, 15%);
         text-decoration:underline;
    }
}

a[rel="external"]{
  margin-right:25px;

    &:after {
      position: absolute;
  }
}

//lists
ul,
ol {
  list-style-type: none;
}

.list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;

  li {
    margin-bottom: 10px;
    }
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 45px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

.heading-contents {
  margin-top: 3em;
}

.list-contents{
    font-size:16px;
}