//@import 'sharepoint'; //default sharpoint css - REMOVE BEFORE UPLOADING

//google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700');

//base colours
$blue:#007299;
$dark-blue: #003f55;
$light-blue: #3399bb;
$lighter-blue: #e5f1f5;
$black:#263238;
$light-black:#37474f;
$dark-grey:#455a64;
$grey:#90a4ae;
$light-grey:#eceff1;
$lighter-grey:#f6f7fa;
$white:#FFFFFF;
$green:#2e7d32;
$dark-green:#005005;
$light-green:#60ad5e;
$lighter-green:lighten($green,60%);
$yellow:#fbc02d;
$dark-yellow:#c49000;
$light-yellow:#fff263;
$lighter-yellow:lighten($yellow,40%);
$red:#d32f2f;
$dark-red:#9a0007;
$light-red:#ff6659;
$lighter-red:lighten($red,45%);

// available variables to change the brand colours as required

//$base-background-color:#fff;
$border-color:$light-grey;
$brand-color:$blue;
$button-color:$green;
$button-hover-color:lighten($button-color,5%);
$focus-color:$yellow;
$base-container-width:1280px;

//typography
$font-primary:'Open Sans',
sans-serif; // main font
$font-secondary:'Montserrat', sans-serif; // secondary font used for headings
//$base-font-size:16px !default;
//$base-font-size-desktop:19px !default;
$base-line-height: 1.4;
$base-font-color:$black;
$header-font-color:$black;
$secondary-font-color:$dark-grey;
$header-font-weight: 700;
//$base-font-weight: 400 !default;
$base-link-color:$blue;
$base-link-hover-color:$light-blue;
$base-link-visited-color:#4C2C92;
$secondary-link-color:$dark-blue;

//panel colours
$panel-color:$lighter-blue;
$panel-color-secondary:$light-grey;
//$panel-alt-background-color:#003F55;
//$panel-alt-color:white;
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%)
//$panel-event-date-color:white;

//global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:lighten($brand-color,3%);
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

//sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//socialamedia.scss
//$social-link-color:#337ab7 ;
//sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;

//blocklinks.scss
//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;

//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;

//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

//section backgrounds
$sectionHeader-background-color:$brand-color;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:#fff;
$sectionThree-background-color:#fff;
$sectionFour-background-color:#fff;
$sectionFive-background-color:#fff;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:$base-link-color;
$accordion-border-color:$border-color;

//Block quote
// $blockquoteBorderColor:#bbcada ;
// $blockquoteQuoteColor:#333;
// $blockquoteQuoteFooterColor:#000;

//highlighted box in content assets
//$highlighted-background-color:#333 !default;
//$highlighted-font-color:#fff !default;
//$highlighted-alt-background-color:#f6f6f6 !default;
//$highlighted-alt-font-color:#333 !default;

//mega-promo
$promo-background-color:$lighter-grey;
$promo-arrow-color:$grey;
$promo-header-color:$blue;
$promo-secondary-color:$black;
$promo-highlight-background-color:$blue;
$promo-highlight-color:$white;

//button colours
$primary-button-background-color:$green;
$primary-button-color:$white;
$secondary-button-background-color:$blue;
$secondary-button-color:white;
$outline-button-border-color:$blue;
$outline-button-color:$blue;

//group promo colours
$group-promo-background-color: $lighter-grey;
$group-promo-header-color: $blue;
$group-promo-description-color: $black;
$group-promo-arrow-color: $grey;

//form colours
$input-color:$black;
$input-border-color:$grey;

//back to top
//$back-top-color:white;
//$back-top-hover-color:white;
//$back-top-background:black;
//$back-top-hover-background:grey;

//phase banner
//$phase-banner-stage-background:#007299 !default;
//$phase-banner-stage-color:white !default;

//- FRONT END TOOLKIT
@import 'base_styles/variables';
@import 'url-helper';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import 'base_styles/mixins';
@import 'base_styles/base-structure';
@import 'base_styles/typography';
@import 'base_styles/buttons';
@import 'base_styles/form-elements';
@import 'base_styles/accessibility';
@import 'base_styles/images';
@import 'base_styles/tables';
@import 'base_styles/panel';
@import 'base_styles/helper-classes';
@import 'base_styles/browser-alert';
@import 'base_styles/back-to-top';
@import 'base_styles/main-menu';
@import 'base_styles/responsive-menu';
@import 'base_styles/global-search';
@import 'base_styles/footer';
@import 'base_styles/social-media';
@import 'base_styles/alerts';
@import 'base_styles/breadcrumb';
@import 'base_styles/jquery-ui-datepicker';
@import 'base_styles/media-player';
@import 'base_styles/lcc-search-box';
@import 'brand-colors';
@import '2010-typography-overrides';
@import 'accordion';
@import 'accordion-aria';
@import 'a-to-z';
@import 'details';
@import 'media';

//@import 'block-links'; //subsite only
//@import 'block-quote'; //subsite only
//@import 'carousel';
//@import 'content-assets'; //subsite only
//@import 'content-link'; //subsite only
@import 'description-list';
@import 'override/doc-list';
@import 'events-search-results';
//@import 'events-webparts';
@import 'group-promo';
//@import 'hero-banner';
//@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
@import 'lcc-hero';
@import 'mega-promo';
//@import 'news'; //subsites only
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner';
//@import 'polaroids'; //subsite only
//@import 'promo'; //subsites only
//@import 'promo-list-webpart'; //subsite only
//@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides';
@import 'sharepoint-search-results';
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'side-navigation'; //needs aligning with side-nav - DH & RM
@import 'sub-section-nav';
@import 'webchat';

//-PROJECT SPECIFIC
//@import 'styleguide';//not needed for live site
//@import 'sticky-nav';//not currently needed for live site
@import 'modern-gov'; //custom styling for Modern Gov - democracy.leeds.gov.uk

@import 'leedsgov-specific';
@import 'leedsgov-overrides';
@import 'where-i-live'; //needs fine tuning and adding to toolkit - DH

@import 'lcc-header'; //a part of the front-end toolkit but needs to be at end

// New components
@import 'component_example';
@import 'decision-tree';
@import 'step-by-step';
@import 'tooltips';

// Campaigns

//EV trial campaign
@import '../campaigns/default/default';
@import '../campaigns/electric-vehicle-trials/electric-vehicle-trials';
@import '../campaigns/disruption/disruption';


// Print css
@import 'print';


//site background
html {
    background-color: $blue;
}

.hero-lcc__search-btn-wrapper {
    .btn {
        &:focus {box-shadow:none;}
    }
}

.pre-title {
    font-size: 22px;
    font-family: Montserrat,sans-serif,sans-serif;
    margin: 25px 0 0 0 !important;
    font-weight: 700;
    color: $dark-grey;
    @media (min-width: 768px) {
        font-size: 24px;
        margin: 50px 0 0 0 !important;
    }
}


//------------------------ Footer ------------------------//
footer {
    .lcc-footer {
        ul {
            margin: 0;
            padding: 0;
            li {
                a {
                    display: block;
                    .fa {
                        padding-right: 10px;
                        min-width: 27px;
                    }
                }
            }
        }
        p, p a, p .font-xsmall, .font-xsmall, h2, h3, h3.heading-small, ul li, ul li a {
            color: #ffffff;
        }
        p a:hover, ul li a:hover {
            opacity: .7;
        }
        .footer-row-two {
            border-top:1px solid #ffffff;
            padding-top:30px;
            margin-top:30px;
            > div {
                margin-bottom:30px;
            }
        }
        .footer-lcc-logo {
            height:52px;
            margin-bottom:10px;
        }
    }
    .footer-marg-bottom {
        margin-bottom:30px;               
        @media (min-width: 992px) {
            margin-bottom:0px;
        }
    }
}


.panel.alt {
//media play in panel
    .media-container .media-player .control-bar .current-time,
    .media-container .media-player .control-bar .volume-controls .mute,
    .media-container .media-player .control-bar .volume-controls .vol-down, 
    .media-container .media-player .control-bar .volume-controls .vol-up,
    .media-container .media-player .control-bar .volume-controls .vol-display {
        color:#ffffff;
    }
    .media-container .media-player .control-bar .volume-controls .vol-display {
        background-image:url('/PublishingImages/player-icon-volume-white.png');
    }
    
}

//------------------------ Find a school - School details page ------------------------//
#schoolTable {
    table td, table th {
        vertical-align: text-top
    }
    table td {
        width: 60%;
        word-break: break-word;
    }
}

