// available variables to change the brand colours as required
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800');
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:18px ;
$base-font-color:#414141;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#6cb6cd ;
$font-primary: 'Open Sans', Arial ; // main font
$font-secondary:'Open Sans', Arial ; // secondary font


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:darken(#5071b3, 5%) ;
$main-nav-link:#fff ;

//footer.scss
$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
$section-Background:#F6F7FA ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
//$sectionHeader-background-color:#FDBD44;
$sectionOne-background-color:#fff;
//$sectionTwo-background-color:darken($base-background-color, 10%) ;
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:#6cb6cd;
//$accordion-border-color:#ECF0F1;


//Block quote
// $blockquoteBorderColor:#bbcada;
 $blockquoteQuoteColor:#6cb6cd;
// $blockquoteQuoteFooterColor:#000;

//highlighted box in content assets
$highlighted-background-color:#dff0f5;
$highlighted-font-color:#212224;
$highlighted-alt-background-color:#f6f6f6 ;
$highlighted-alt-font-color:#333;


//group promo colours
//$group-promo-background-color: #dff0f5;
//$group-promo-header-color: #6cb6cd;
//$group-promo-description-color: #212224;
//$group-promo-arrow-color: #6cb6cd;


//responsive menu width
$responsiveMenuWidth:1200px;


//hero banner
 //$heroFontBackground:rgba(11, 5, 0, 0.4); 
 //$heroFontcolor:#fff ; 
 //$heroMinHeight:450px;

@import 'mixins';
@import 'variables';
@import 'brandColors';

// available sass files please un-comment out as required

//@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'sectionSubsite';
@import 'promo';
@import 'carousel';
//@import 'socialMedia';
//@import 'sideNavigation';
//@import 'blockLinks';
@import 'accordion';
@import 'promoGroup';
@import 'alerts';
@import 'promoListwebpart';
//@import 'eventsWebparts';
@import 'sharepointOverides';
@import 'iconLinks';
@import 'heroBannerv2';
@import 'news';
@import 'polaroids';
@import 'groupPromo';
@import 'blocklinks';
@import 'contentLink';
@import 'docList';
@import 'blockQuote';
@import 'accessibility';
@import 'browser-alert';
@import 'typography-lcc';
@import 'buttons';
@import 'tables';
@import 'contentAssets';

 .masterhead{
          @media (min-width: 1200px){
     border-bottom:1px solid #ddd;
    }
 }

 .logo{
        height:130px;
        width:100px;
        background:url(../images/logo.jpg) center top no-repeat;
        margin:50px 0;

        @media (max-width: 500px){
           margin:50px auto 0 auto;
        }

    }

             .header-left{
                 width:100%;
             
             &:after{
                        content:'Assistive Technology services and information for disabled adults, children, older people and the professionals who support them';
                        float:right;
                        color:#fff;
                        position:absolute;
                        right:0px;
                        font-size:20px;
                        top:80px;
                        text-align:right;
                        padding-left:150px;
                        max-width:700px;

                        
                        @media screen and (max-width:700px){
                            padding:0 30px 50px 30px;
                            top:40px;
                            font-size:16px;
                            max-width:400px;
                        }

                        @media screen and (max-width:500px){
                            position:relative;
                            padding:0 30px 50px 30px;
                            top:20px;
                            text-align: center;
                          
                        }
                    }

             }



.col-md-8 img {
   max-width:100%;
}






 .groupPromo ul
 
 {

  margin:-3px 0 0 0;   
 
  li a 
 {
 text-align:center;
 
 img {
     width:auto;

     @media screen and (max-width:600px){
         display:none;
     }
 }

h3{
    text-align: left;
}
 }

 }


.top{
    margin-top:0px !important;
}

.col-md-8 .ms-rtestate-field ul{
  list-style: disc;
}

nav ul li a.selected {
    background:darken(#4868a6, 20%)!important;
    color:#fff;
}

.sectionSubsite a, footer.main a  {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }

}

.panel{
    
    &:first-of-type{
    margin-top:0px;
}

 background:transparent;
 border:5px solid #dff0f5;
}


.heroBanner .container-fluid h1, .heroBanner .container-fluid p.lead {
    font-weight: 800;
}

.heroBanner .container-fluid p {
 font-weight: 600;
}

.sectionOne .col-md-8{
    margin-bottom:50px;

    ul{
        list-style:disc; // quick fix for migaration 
    }

    @media screen and (max-width:600px){
        margin-bottom:0px;
    }
}



    .sectionHeader{
    background:#5071b3;
   }



