@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');
// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:19px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
$base-container-width:1500px ;
//$btn-background-color:green ;
$font-primary:'Oswald', Helvetica, Arial;
$font-secondary: 'Oswald', Helvetica, Arial;


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#5f666f;
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
$section-Background:#ecf0f1;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
$link-font-color:#414141;
$span-info-color:#ecf0f1;
$span-info-hover:darken(#ecf0f1,3%);
$span-info-secondary-color:#666;
$span-arrow-base:transparent;
$span-third-info-base:#fff;
//$third-info-font-color:#333;
$arrow-color:#414141;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#5f666f;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:darken(#ecf0f1,5%);
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
//$accordion-color:green;
//$accordion-border-color:#ECF0F1;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
$primary-button-background-color:$main-nav-background;
//$primary-button-color:white !default;
$secondary-button-background-color:#ddd;
$secondary-button-color:$primary-button-background-color;
//$outline-button-border-color:blue;
//$outline-button-color:blue;


//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
$responsiveMenuWidth:1200px ;
//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#c3102f;
//$promo-header-color:#c3102f;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#c3102f;
//$promo-highlight-color:#fff;
$promo-arrow:"\f105";

//mega-promo
//$promo-background-color:#F6F7FA;
$promo-arrow-color:#005953;
//$promo-header-color:#c3102f;
//$promo-secondary-color:#666B76;
$promo-highlight-background-color:#005953;
$promo-highlight-color:#fff;
$promo-arrow:"\f105";

$vistitorInfoBack:rgba(#ecf0f1, 0.9);
$vistitorInfoHeadingColor:#414141;

@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
//@import 'a-to-z';
//@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
//@import 'carousel';
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
//@import 'events-search-results';
//@import 'events-webparts';
@import 'group-promo';
//@import 'hero-banner';
//@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
//@import 'news';
//@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
//@import 'journey-page';
//@import 'phase-banner'; //work needed to have in page beta banner
//@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
//@import 'webchat';

@import '../museumsandgalleries_subsite/sass/museums';

h1,h2,h3,h4,h5{
    font-family:$font-primary;
}


p{
    font-family:$font-secondary;
}

.header-nav-container .logo {
    background:url(../images/LeedsArtGallery_Logo_RGB_White.png) left center  no-repeat;
    margin: 0px 0 0 0px;
    height:200px;
    width:200px;
    background-size:200px;
    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:768px){
            text-align: center;
            margin:0 auto;

        }
}

.main-nav{
    border-top:1px solid darken($main-nav-background,5%);
    ul li a{
        font-size:20px;
    }
}






