.campaign-pods-container {
    margin-bottom: 15px;
    @media (min-width: 768px) {
        margin-bottom: 45px;
    }
    .row {
        margin-right: -7px;
        margin-left: -7px;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            flex-direction: row;
        }
    }        
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        min-height: 0px;
        padding-right: 7px;
        padding-left: 7px;
    }
    
}        

.campaign-pod {
    padding: 30px;
    background: $campaign-pod-background;
    min-height: 250px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        p {
            text-decoration: underline;
        }
    }
    @media (min-width: 768px) {
        height: calc(100% - 15px);
    }
    p {
        font-family: $font-secondary;
        font-weight: $header-font-weight;        
        @include heading-medium();
        margin: 0 !important;
        color: $campaign-pod-text-colour;
        display: block;
        padding-right: 90px;
        width: 100%;
        position: relative;
        &:before {
            content: '\f105';
            font-family: FontAwesome;
            position: absolute;
            bottom: 0;
            right: 0;
            color: $campaign-pod-text-colour;
            line-height: 30px;
            font-size: 40px;
            @media (min-width: 768px) {
                line-height: 40px;
                font-size: 60px;
            }
        }
    }
    &:focus {
        p {
            color: $black;
            &:before {
                color: $black;
           }
        }
    }
}

.campaign-pod-one {
    background: $campaign-pod-one-background;
    p {
       color: $campaign-pod-one-text-colour;
       &:before {
            color: $campaign-pod-one-text-colour;
       }
    }    
}

.campaign-pod-two {
    background: $campaign-pod-two-background;
    p {
        color: $campaign-pod-two-text-colour;
        &:before {
             color: $campaign-pod-two-text-colour;
        }
     }
}

.campaign-pod-three {
    background: $campaign-pod-three-background;
    p {
        color: $campaign-pod-three-text-colour;
        &:before {
             color: $campaign-pod-three-text-colour;
        }
     }
}