// ------ Hero content
$hero-background: #007299;
$hero-title: #ffffff;
$hero-text: #ffffff;

// ------ Highlighted text
$highlighted-text-border: #007299;

// ------ Panel with images
$panel-img-background-colour: #007299;
$panel-img-heading-colour: #ffffff;
$panel-img-text-colour: #ffffff;

// ------ Logos 
$campaign-logos-bg: #F6F7F8;
$campaign-logos-sm-border: #007299;

// ------ Pods
// background
$campaign-pod-background: #007299;
$campaign-pod-one-background: #007299;
$campaign-pod-two-background: #007299;
$campaign-pod-three-background: #007299;

// text colour
$campaign-pod-text-colour: #ffffff;
$campaign-pod-one-text-colour: #ffffff;
$campaign-pod-two-text-colour: #ffffff;
$campaign-pod-three-text-colour: #ffffff;

// ------ Accordion
$campaign-accordion-indicator-bg: #007299;
$campaign-accordion-indicator-text-colour: #ffffff;

// ------ Blockquotes
$campaign-blockquote-colour: #007299;