// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

$base-background-color:#fff;
//$base-font-size:16px ;
//$base-font-color:#333 ;
$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#663399 ;
//$font-primary: Arial ; // main font
//$font-secondary: Arial ; // secondary font


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#414141 ;
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#fff;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:darken($base-background-color, 5%);
$sectionThree-background-color:#fff;
$sectionFour-background-color:darken($base-background-color, 5%) ;
$sectionFive-background-color:darken($base-background-color, 10%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:#803f92;
//$accordion-border-color:#ECF0F1;

//Block quote
 $blockquoteBorderColor:#efefef;
 $blockquoteQuoteColor:#803f92;
 $blockquoteQuoteFooterColor:#803f92;


//Arrow Link
$ArrowLinkBorderColor:$blockquoteBorderColor;
$ArrowLinkColor:$blockquoteQuoteColor;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
//button colours
//$primary-button-background-color:green;
//$primary-button-color:white !default;
//$secondary-button-background-color:blue;
//$secondary-button-color:white;
//$outline-button-border-color:blue;
//$outline-button-color:blue;


//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
//$responsiveMenuWidth:1200px ;



@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
//@import 'content-assets'; //subsite only
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
@import 'events-search-results';
@import 'events-webparts';
@import 'group-promo';
@import 'hero-banner';
@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
@import 'news';
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner'; //work needed to have in page beta banner
@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'side-navigation'; //needs aligning with side-nav - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';
 
.sectionHeader{
    border-top:1px solid #ddd;
    padding:20px 0;

               @media screen and (max-width:767px){
                 border-bottom:1px solid #ddd;
            
                }

    .header-left{
        width:100%;
        position:relative;

     


       .logo {
    background:url(../images/logo.png) left center no-repeat;
    margin: 30px 0px;
    height:74px;
    width:309px;

    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:767px){
            text-align: center;

                &:after{
           font-size:30px;
            text-align: center;


    }
        }
}





         .logo:after{
        content:'';       
        background:url(../images/britishLibraryLogo.png) right 0px top 0px no-repeat;
        width:60px;
        height:127px;
        position:absolute;
        right:0px;
        top:15px;

        @media (max-width:768px){
         display:none;
        }

        
   
    }

    
            .logo{

     @media (max-width: 767px){    
            background-position:center center;    
            margin:30px auto;
        }

             @media (max-width: 500px){    
           background-size:100%;
        }
    }

 
}

}

//sidenav
.sideNav, .related {
    padding: 0px;
    margin:30px 0;
    border-bottom:5px solid #bbcada;
    background:transparent;




    ul{
        margin:0;
        padding:0;

        li{
            margin: 0;
            padding:0;

            &:first-of-type a{
                  background: $btn-background-color;
                  color:#fff;
                  padding:20px 15px;

                   &.active, &.active:hover {
                    color: #fff;
                    background:#803F92 !important;



                }
     
            }

            a {
                font-size: 1.1em;
                margin: 0;
                padding:15px;
                background: transparent;
                width: 100%;
                border-bottom: 1px solid #bbcada;
                text-decoration:none !important;
                font-weight:600;

                &:hover{
                    color: darken($base-link-color, 10%);
                    background:#f2f2f2 !important;
                }

                &.active, &.active:hover {
                    color: #803F92;
                    background:#f6f6f6 !important;
                    cursor:default;
                }
            }
        }

      }

    
}


.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-tv-selected:link, a.ms-tv-header:hover, a.ms-tv-item:hover {
    background-color: #f2f2f2;
    color: #803F92;
}

footer.main{
    border-top:10px solid #803F92;
    margin-top:50px;
}


.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-tv-selected:link, a.ms-tv-header:hover, a.ms-tv-item:hover, .main-nav ul li a.selected  {
    background-color:  #803f92 !important;
    color: #fff;
}


.sectionSubsite a, footer.main a  {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

