$base-background: #F7941D;
$base-brand: #3E3E40;

// ------ Hero content
$campaign-hero-background: #F7941D;
$campaign-hero-title: #3E3E40;
$campaign-hero-text: #3E3E40;

// ------ Highlighted text
$campaign-highlighted-text-border: #F7941D;

// ------ Panel with images
$campaign-panel-img-background-colour: #F7941D;
$campaign-panel-img-heading-colour: #3E3E40;
$campaign-panel-img-text-colour: #3E3E40;

$campaign-panel-icon-text-colour: #3E3E40;

// ------ Logos 
$campaign-logos-bg: #F6F7F8;
$campaign-logos-sm-border: #F7941D;

// ------ Pods
// background
$campaign-pod-background: #F7941D;
$campaign-pod-one-background: #F7941D;
$campaign-pod-two-background: #F7941D;
$campaign-pod-three-background: #F7941D;

// text colour
$campaign-pod-text-colour: #3E3E40;
$campaign-pod-one-text-colour: #3E3E40;
$campaign-pod-two-text-colour: #3E3E40;
$campaign-pod-three-text-colour: #3E3E40;

// ------ Accordion
$campaign-accordion-header-text-colour: #3E3E40;
$campaign-accordion-indicator-bg: #F7941D;
$campaign-accordion-indicator-text-colour: #ffffff;

// ------ Blockquotes
$campaign-blockquote-colour: #3E3E40;
$campaign-block-quote-line-colour: #F7941D;