.swatch{
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin:30px 0 60px -30px;

  @media (max-width: 641px) {
    margin:15px 0 15px -15px;
  }

  .swatch-item-wrapper{
    width: calc(100% * (1/4) - 30px) !important;
    margin:30px 0 0 30px;
    text-align:center;

    float: left;

    @media (max-width: 641px) {
      width: calc(100% * (1/2) - 15px) !important;
      margin:15px 0 0 15px;
    }

    .swatch-item{
      
        .colour{
          background:$light-grey;
          display:block;
          height:100px;
          width:100px;
          @include border-radius(100%);
          margin:0 auto;

          &.text{
            background:$base-font-color;
          }

          &.text-secondary{
            background:$secondary-font-color;
          }

          &.link-colour{
            background:$base-link-color;
          }

          &.link-hover{
            background:$base-link-hover-color;
          }

          &.link-visited{
            background:$base-link-visited-color;
          }

          &.focus{
            background:$focus-color;
          }

          &.button-colour{
            background:$button-color;
          }

          &.button-hover{
            background:$button-hover-color;
          }

          &.panel-colour{
            background:$panel-color;
          }

          &.page-colour{
            background:$white;
            border:1px solid $border-color;
          }

          &.border{
            background:$border-color;
          }

          &.background{
            background:$lighter-grey;
            border:1px solid $border-color;
          }
      } 

      .colour-details{
        padding:15px;

        h3{
          @include heading-small();
          margin-top:0;
          margin-bottom:10px;
        }
      
        .hex{
          color:$secondary-font-color;
          margin-bottom:10px;
        }
        .variable{
          font-size:14px;
          margin-bottom:0;
          color:$secondary-font-color;
        }

      }

      
    }
  }
}