// available variables to change the brand colours as required
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600');
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:18px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#721371 ;
$font-primary: 'Open Sans', Arial ; // main font
$font-secondary:'Open Sans', Arial ; // secondary font


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#52246D ;
$main-nav-link:#fff ;

//footer.scss
$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
//$sectionHeader-background-color:lighten($base-background-color, 3%) ;
$sectionOne-background-color:#fff;
//$sectionTwo-background-color:darken($base-background-color, 10%) ;
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:#721371;
//$accordion-border-color:#ECF0F1;


//Block quote
// $blockquoteBorderColor:#bbcada;
 $blockquoteQuoteColor:#721371;
// $blockquoteQuoteFooterColor:#000;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
$primary-button-background-color:$main-nav-background;
//$primary-button-color:white !default;
$secondary-button-background-color:#ddd;
$secondary-button-color:$primary-button-background-color;
//$outline-button-border-color:blue;
//$outline-button-color:blue;


//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
//$responsiveMenuWidth:1200px ;

@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
//@import 'a-to-z';
//@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
//@import 'carousel';
//@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
//@import 'events-search-results';
//@import 'events-webparts';
@import 'group-promo';
//@import 'hero-banner';
//@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
//@import 'news';
//@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
//@import 'journey-page';
//@import 'phase-banner'; //work needed to have in page beta banner
//@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';
 

 .logo{
        height:220px;
        width:250px;
        background:url(../images/logo.png) left top no-repeat;
        margin:50px 0 20px 0;

        @media (max-width: 900px){
            margin:20px auto;
            background-size:250px;
      
        }

    }


.header-right:after {
    content: '';
    background:url(../images/header-bk.png) left top no-repeat;
    width:349px;
    height:219px;
    float: right;
    margin-top:70px;

      @media (max-width: 900px){
            margin:20px auto; 
            float:none;
            display:block;  
            max-width:100%  
        }

        
      @media (max-width: 500px){
            margin:20px 0; 
            background-size:100%;
            height:150px;
        }
}

    .main-nav{
     position:relative;
    &:before {
    content: "";
    background: url(../images/nav-top.png) center center no-repeat;
    width: 194px;
    height: 49px;
    position: absolute;
    top: -51px;
    left: 40%;
}
      @media (max-width: 768px){
            position:absolute;     
        }
}

    .masterhead {
   border-bottom:1px solid #ddd;
}



footer.main{
    &:before{
        content:'Aiming to ensure people affected by domestic violence and abuse are safe and feel safe';
        width:100%;
        height:80px;
        background: #A76BA1;
        padding: 30px;
        display: block;
        text-align:center;
        color:#fff;
}

.footerGlobal {
   padding-bottom:60px;
}
}


.cd-top {
   
    bottom: 100px;
}


.highlighted{
   background: #038fa5; /* Old browsers */
background: -moz-linear-gradient(45deg, #038fa5 0%, #731378 50%, #c30c4a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #038fa5 0%,#731378 50%,#c30c4a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #038fa5 0%,#731378 50%,#c30c4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038fa5', endColorstr='#c30c4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

em{
    font-size:70px;
    line-height:70px;

    @media only screen and (max-width:768px) {
        font-size:50px;
        line-height:50px;
    }
}
}







//sidenav
.sideNav {
    padding: 0px;
    margin:30px 0;
    border-bottom:5px solid #bbcada;
    background:transparent;


    ul{
        margin:0;
        padding:0;

        li{
            margin: 0;
            padding:0;

            &:first-of-type a{
                  background: $btn-background-color;
                  color:#fff;
                  padding:20px 15px;

                   &.active, &.active:hover {
                    color: #fff;
                    background:#721371 !important;



                }
     
            }

            a {
                font-size: 1.2em;
                margin: 0;
                padding: 20px 15px;
                background: transparent;
                width: 100%;
                border-bottom: 1px solid #bbcada;
                text-decoration:none !important;
                font-weight:600;

                &:hover{
                    color: darken($base-link-color, 10%);
                    background:#f2f2f2 !important;
                }

                &.active, &.active:hover {
                    color: #721371;
                    background:transparent !important;
                    cursor:default;
                }
            }
        }

      }

    
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-tv-selected:link, a.ms-tv-header:hover, a.ms-tv-item:hover {
    background-color: #f2f2f2;
    color: orange;
}


#hide{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background:#A76BA1;
    z-index:11000;
}

a#hide-evidence{
    padding:20px;
    font-size:24px;
    color:#fff;
    float:left;
    display:inline-block;
    text-decoration: none;
}

a#hide-site{
    padding:20px;
    font-size:24px;
    color:#fff;
    background:#2e1140;
    float:right;
    display:inline-block;
    text-decoration: none;
}

a#hide-site:hover, a#hide-site:focus{
    background:darken(#2e1140,20%);
    text-decoration:none;
}

@media screen and (max-width:768px){
    a#hide-evidence{
        display:none;
    }

    a#hide-site {
    padding: 20px;
    font-size: 24px;
    color: #fff;
    background: #52246D;
    float: right;
    display: inline-block;
}
}

.col-md-8 img {
   max-width:100%;
}



#main .col-md-8 {
    margin-bottom:50px;
}

.media-container{
    margin:30px;
}

a.promo{
    display:block;
    margin-top:30px;
    img{
        width:100%;
    }
}

.btn, .button, .iconLinks li .link, .iconLinks li a,.ms-rteElement-button {
    text-decoration:none;
}

footer.main a {
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}