@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');
// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:19px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#c3102f ;
$font-primary:'Oswald', Helvetica, Arial;
$font-secondary: 'Oswald', Helvetica, Arial;

// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#c3102f;
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
$section-Background:#F6F7FA ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;




//promolist webpart
$link-font-color:#414141;
$span-info-color:#ecf0f1;
$span-info-hover:darken(#ecf0f1,5%);
$span-info-secondary-color:#666;
$span-arrow-base:transparent;
$span-third-info-base:#fff;
//$third-info-font-color:#333;
$arrow-color:#414141;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#c3102f ;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:darken(#ecf0f1,5%);
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:#c3102f;
//$accordion-border-color:#ECF0F1;

//highlighted box in content assets
$highlighted-background-color:#fff;
$highlighted-font-color:#c3102f;
$highlighted-alt-background-color:#ecf0f1 ;
$highlighted-alt-font-color:#333;

//group promo colours
$group-promo-background-color: #F6F7FA;
$group-promo-header-color: #3D414A;
$group-promo-description-color: #666B76;
$group-promo-arrow-color: #9DA5B2;

//mega-promo
$promo-background-color:#F6F7FA;
$promo-arrow-color:#c3102f;
$promo-header-color:#c3102f;
$promo-secondary-color:#666B76;
$promo-highlight-background-color:#c3102f;
$promo-highlight-color:#fff;
$promo-arrow:"\f105";




@import 'mixins';
@import 'variables';
@import 'brandColors';

// available sass files please un-comment out as required

//@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'sectionSubsite';
@import 'promo';
@import 'carousel';
//@import 'socialMedia';
//@import 'sideNavigation';
//@import 'blockLinks';
@import 'accordion';
@import 'alerts';
@import 'promoListwebpart';
@import 'eventsWebparts';
@import 'sharepointOverides';
@import 'iconLinks';
//@import 'heroBanner';
//@import 'news';
//@import 'polaroids';
@import 'groupPromo';
//@import 'blocklinks';
//@import 'contentLink';
@import 'docList';
@import 'contentAssets';
@import 'mega-promo';
@import '../museumsandgalleries_subsite/sass/museums';
@import 'accessibility';
@import 'browser-alert';
@import 'typography-lcc';
@import 'buttons';
@import 'tables';
@import 'description_list_accessible';
@import 'images';
@import 'contentAssets';


body{
    font-weight:200;
}

h1,h2,h3,h4,h5{
    font-family:$font-primary;
    margin:0.6em 0 0.4em 0;
}


p{
    font-family:$font-secondary;
}

.header-nav-container .logo {
    background:url(../images/museums-logo-w.svg) left center no-repeat;
    margin: 30px 0 30px 0px;
    height:150px;
    width:200px;
    background-size:150%;

    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:768px){
            text-align: center;
            margin:20px auto;

        }
}

.main-nav{
    border-top:1px solid darken($main-nav-background,5%);
    ul li a{
        font-size:20px;
    }
}

.carousel {
    height: 70vh;
    margin-bottom:0px;
}


/* start of reveal museums -----------------------------------------------------------------*/


h2{
    span{
        font-size:20px;
        color:#666;
        font-weight:200;

             @media only screen and (max-width:990px){
                 display:block;
                 margin-top:10px;
             }
    }
}
.venues
{
      @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            margin:0px 0 0 -6px;
            width:auto;
            border:0;
            list-style:none;
            padding:0px;

  li{
                border: 0;
                width: calc(100% * (1/9) - 5px) !important;
                margin:5px 0 0 5px;
                border:0;
        


           &.lotherton{
             background:$lotherton-base-color;
             
         }

           &.discovery{
             background:$discovery-base-color;
         }

           &.kirkstall{
             background:$kirkstall-base-color;
         }

           &.lag{
             background:$lag-base-color;
         }

           &.lim{
             background:$lim-base-color;
         }

           &.temple{
             background:$temple-base-color;
         }

           &.city{
             background:$city-base-color;
         }

           &.thwaite{
             background:$thwaite-base-color;
         }

           &.abbey{
             background:$abbey-base-color;
         }


                     a{
         display:block;
         padding:10px;
         height:100%;

         &:hover{
             background:rgba(0, 0, 0, 0.4);
         }
        
        h3{
            display:none;
        }

        

           img{
      max-width:100%;
      height:60px;
      display:table-cell;
  }
     }

                @media only screen and (max-width:1200px){
                    width: calc(100% * (1/7) - 5px) !important;
                }

                @media only screen and (max-width:990px){
                    width: calc(100% * (1/5) - 5px) !important;
                    a{
                        padding:20px;
                    }
                }
                  @media only screen and (max-width:768px){
                    width: calc(100% * (1/3) - 5px) !important;
                }

                   @media only screen and (max-width:500px){
                    width: calc(100% * (1/2) - 5px) !important;
                }




  }

}

table td {
    padding: 0.63158em 1.05263em 0.63158em 0;

    &:last-of-type{
        border:none;
    }
}

.accordion-drawer a .fa{
   margin-right:10px;
}


.userControlMuseums {
    width: 100%;
    float: left
}

.userControlMuseums h2 {
    margin: 10px 0
}



.button img {
    display: none
}

.inputContainer input.searchInput,
.userControlMuseums input.searchInput {
    border: 1px solid #ddd;
    padding: 15px;
    width: 44%;
    float: left
}

.inputContainer {
    padding: .7%;
    width: 48%;
    float: left
}

.inputContainer input.searchInput {
    width: 60%
}

.userControlMuseums input.dateInput {
    padding: 10px;
    width: 27%;
    float: left;
    margin-right: 10px;
    border-color: #ddd;
    font-weight: 300
}



.userControlMuseums .innerContainer {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    display: inline-block
}

.userControlMuseums .paging .innerContainer {
    border: none;
    padding: 0;
    background: 0 0;
    float: inherit;
    margin-right: 0
}

.userControlMuseums .formContainerOuter {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0
}

.userControlMuseums .lcc-formContainer {
    width: 100%;
    padding: 0;
    float: left
}

.userControlMuseums .lcc-caption {
    width: 20%;
    float: left;
    text-align: right;
    padding: 20px
}

.userControlMuseums .lcc-form {
    width: 80%;
    padding: 20px;
    margin: 0;
    float: right
}

.userControlMuseums .lcc-form select,
.userControlMuseums .lcc-form select option {
    margin-left: 5px;
    min-width: 100px;
    max-width: 150px;
    font-size: 100%
}

.userControlMuseums .lcc-input {
    width: 55%;
    padding: 10px;
    border-color: #ddd;
    margin-right: 10px
}

.userControlMuseums .lcc-form select {
    padding: 1%;
    border: 1px solid #ddd
}

@media only screen and (max-width:768px) {
    .userControlMuseums .lcc-caption,
    .userControlMuseums .lcc-form {
        width: 100%;
        padding: 0;
        text-align: left
    }
    .userControlMuseums .lcc-form {
        padding: 0 0 20px
    }
    .userControlMuseums .lcc-input {
        width: 100%
    }
}

.userControlMuseums fieldset p {
    color: #333;
    display: inline-block
}



.collectionsPod {
    background: $section-Background;
    width: 22%;
    float: left;
    margin: 10px 1% 10px 0;
    padding: 20px;
    text-align: center


}

.collectionsPod a {
    text-align: left
}

.col-md-6 .collectionsPod {
    width: 48%;
    float: left;
    margin: 1%;
    padding: 20px
}

.collectionsPod img {
    max-width: 100%;
    max-height: 110px;
    min-height: 110px;
    text-align: center;
    border: 0
}

.collectionsPod h3 {
    font-weight: 400;
    display: block;
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
    padding: 0;
    font-size: 22px
}

.collectionsPod h3 a {
    display: block;
    color: #333;
    padding: 15px 10px
}

.collectionsPod h3 a:hover {
    background: #ddd
}

.collectionsPod p a {
    padding: 5px;
    display: inline-block;
    color: #333
}

.objectImagesContainer {
    text-align: center
}


.object {
    width: 100%;
    padding: 20px;
    background:$section-Background;
    float: left;
    margin: 10px 0
}

.object a {
    float: left;
    background: 0 0;
    padding: 0 10px 0 0;
    margin: 0
}

.object .imageContainer {
    width: 25%;
    padding: 0 20px;
    background: #fff;
    float: left;
    min-height: 150px
}

.thumbNailView {
    margin: 0 0 10px;
    float: left;
    width: 100%
}

.thumbNailView li {
    width: 25%;
    padding: 10px!important;
    float: left
}

.thumbNailView li .object {
    width: 100%
}

@media only screen and (max-width:1000px) {
    .thumbNailView li {
        width: 50%
    }
}

@media only screen and (max-width:500px) {
    .thumbNailView li {
        width: 100%;
        padding: 0!important
    }
}

.thumbNailView .object p {
    display: none
}

.thumbNailView .object .imageContainer {
    width: 100%
}

.object .imageContainer a {
    text-align: center;
    width: 100%
}

.object a img {
    max-width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    height: 120px;
    margin: 20px auto
}

.thumbNailView .object a {
    max-width: 100%
}

.object h3 {
    background: 0 0;
    display: inline-block;
    padding: 0 0 0 20px;
    font-size: 25px;
    margin: 0;
    width: 75%
}

.object h3 a {
    border-bottom: 1px solid #ddd;
    color: #333;
    padding: 10px 0;
    display: block;
    width: 100%
}

.thumbNailView .object h3 {
    background: 0 0;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    width: 100%;
    padding: 0
}

.thumbNailView .object h3 a {
    border-bottom: none
}

.object p {
    width: 75%;
    display: inline-block;
    padding: 0 0 0 20px
}

@media only screen and (max-width:500px) {
    .object .imageContainer,
    .object h3,
    .object p {
        padding: 0;
        width: 100%
    }
}

.objectHeader {
    width: 70%
}

.thumbNailView .objectHeader {
    width: 100%
}

.userControlMuseums .pagingContainer {
    border: 1px solid #ddd;
    padding: 1.5%;
    background: #fff;
    width: 97%;
    float: left
}

.userControlMuseums ul.paging {
    list-style: none;
    padding: 1% 1% 1% 12%;
    margin: 0;
    border: none;
    float: left;
    width: 87%;
    background: #e8e8e8
}

.userControlMuseums ul.paging li {
    float: left;
    padding: 0;
    margin: 0;
    text-align: center
}

.userControlMuseums ul.paging li a {
    border: 1px solid #999;
    margin-right: 2px;
    background: #fff;
    padding: 5px 10px;
    color: #c41231
}

.userControlMuseums ul.paging li.arrowImage a {
    background: #c41231;
    border-color: #c41231
}

.userControlMuseums ul.paging li a:hover {
    background: #333;
    color: #fff;
    border-color: #333
}

.thumbNailView .object p {
    width: 100%
}

.objectNumberNavContainer {
    float: right;
    width: 50%;
    padding: 0;
    margin-bottom: 20px
}

.objectNumber {
    float: left;
    width: 50%;
    padding: 2% 0 2% 1%
}

.objectImageContainer {
    border: 1px solid #ddd;
    text-align: center;
    margin:1em 0;
}

.objectImageContainer p {
    padding: 5px;
    border-top:1px solid #ddd;
    display:block;
    margin:0px;
}

.objectImageContainer img,
.objectImageContainerFull img {
    max-width: 100%;
    border: 0;
    margin: 0 auto;
    padding: 30px
}



.objectImageContainer .imageLinks .enlargeImage {
    width: 100%;
    margin: 0;
    display: flex; /* or inline-flex */
    flex-direction: row;

   a {
 width:50%;
 text-align: center;
 display:block;
 border-top:1px solid #ddd;
 padding:20px;
 border-left:1px solid #ddd;


 &:first-of-type{
     background:#fff;
     border-left:none;
 }

 &:hover{
     background:#efefef;
 }
}
}


.objectInfoContainer h3 {
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
    text-transform: uppercase
}

.furtherInformation li span,
ul.objectDetails li span {
    color: #000;
    font-weight: 700
}

.objectInfoContainer p {
    margin-bottom: 10px
}

ul.objectDetails {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 0
}

ul.objectDetails li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0
}

.furtherInformation {
    width: 100%;
    background: $section-Background;
    margin: 20px 0;
    padding: 20px 20px 10px
}

.furtherInformation h3 {
    margin: 0;
    padding: 0 0 20px
}

.furtherInformation ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0
}

.furtherInformation li {
    border-top: 1px solid #ddd;
    padding: 15px 0
}



.showLess,
.showMore {
    color: #039;
    font-size: 1em;
    cursor: pointer
}

.objectInfoContainer .hide {
    display: none
}

.showMore {
    background: url(/_layouts/images/standard/plus.gif) right 0 no-repeat;
    display: inline;
    padding-right: 20px
}

.showLess {
    background: url(/_layouts/images/standard/minus.gif) right 0 no-repeat
}

.paging {
    width: 100%
}

.content li {
    padding: 0;
    list-style: none
}

.page_link_container {
    text-align: center;
    float: left
}

.page_link_container:hover {
    background: #333;
    color: #fff;
    border-color: #333
}

.page_link {
    display: inline-block;
    width: 100%
}

.pagingText.info_text {
    clear: left;
    float: left
}

.alt_page_navigation a,
.page_navigation a {
    float: left;
    list-style: none;
    padding: 10px;
    color: #333;
    border-left: 1px solid #efefef;
    margin: 0
}

.page_navigation,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.ui-dialog .ui-dialog-titlebar-close {
    float: right
}

.alt_page_navigation a:hover,
.page_navigation a:hover,
a.active_page {
    background: #666;
    color: #fff;
    border-color: #666
}

.page_navigation a.disabled {
    background-color: #efefef;
    color: #999;
    pointer-events: none
}

a.first_last_link:first-of-type {
    border: none
}

.page_navigation {
    border: 1px solid #ddd;
    text-align: right;
    border-radius: 3px;
    margin: 10px 0
}

.page_navigation:first-of-type {
    margin: 0 0 10px
}

@media only screen and (max-width:768px) {
    .page_link_container {
        display: none
    }
    .page_navigation {
        width: 100%
    }
    .page_navigation a {
        width: 25%;
        text-align: center
    }
}

.ui-dialog .ui-state-error {
    padding: .3em
}

.validateTips {
    border: 1px solid transparent;
    padding: .3em;
    margin-top: 5px
}

#availableFiltersOuterContainer,
#currentFiltersOuterContainer {
    display: none
}

.filterRemoveButton {
    display: inline-block!important;
    padding: 2px 10px 2px 5px!important;
    color: #fff;
    margin-bottom: 2px!important;
    float: right;
}

.advSearch {
    clear: left;
    margin-top:10px;
}

.tmsError {
    width: 272px!important;
    margin-left: 0!important
}

#tmsSearchContainer h2 {
    padding-top: 0
}

#tmsSearchContainer a {
    clear: both
}

#restStatusText {
    display: none
}

.currentFilter {
    padding: 7px 0 7px 10px;
    margin: 0 10px;
    display: block;
    border: 1px solid #DDD;
    background: #fff;
    font-weight: 400;
    clear: right
}

#resultsSpinner {
    width: 100%;
    height: 300px;
    background-color: #fff;
    z-index: 100000;
    display: block
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px
}

#errorText {
    width: 200px;
    margin-left: 0
}

.ui-widget-content {
    border: 5px solid #333;
    background: #fff;
    width: 90%;
    padding: 5%
}

.ui-widget-content .userControlMuseums {
    margin-bottom: 0
}

.ui-widget-content fieldset {
    border: none
}

.ui-widget-content fieldset legend {
    font-weight: 700;
    margin-bottom: 5px
}

.ui-widget-content .lcc-caption {
    padding: 2% 0 2% 5%;
    width: 90%;
    text-align: left
}

.ui-widget-content .lcc-form {
    margin: 0 3% 2%;
    padding: 3%;
    width: 88%
}

.ui-dialog-buttonset .ui-button,
.ui-widget-header a {
    background: #C41231;
    padding: 10px;
    color: #fff;
    border: none
}

.ui-dialog-buttonset .ui-button:hover,
.ui-widget-header a:hover {
    background: #333
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
    background: url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x #fbf9ee;
    color: #363636
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid red;
    background: #fef1ec;
    color: #cd0a0a
}

.ui-state-error a,
.ui-state-error-text,
.ui-widget-content .ui-state-error a,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error a,
.ui-widget-header .ui-state-error-text {
    color: #cd0a0a
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: 700
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: 400
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
    z-index:10;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0;
    background: 0 0;
    overflow: auto;
    width: 100%!important
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    background-image: none;
    padding: 0;
    border: none;
    width: 100%
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer
}

.ui-widget-overlay {
    opacity: .9!important;
    filter: Alpha(Opacity=90)!important;
    background: #000;
    z-index: 0;
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.ui-widget {
    box-shadow:none;
}

.six .blogCommentsControl fieldset .column {
    width: 98%
}

.stButton .stLarge {
    background: 0 0!important;
    height: 17px!important
}

span.st_sharethis_large {
    display: block
}

#paging {
    width: 100%
}



label {
   font-weight: 200;
}







.licenceOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/_layouts/images/museums/inactive.png);
    display: block
}

.licenceOverlay span {
    position: absolute;
    top: 48px;
    width: 86%;
    padding: 2%;
    margin: 5%;
    font-size: .8em;
    background: #fff;
    border: 1px solid #000
}


.objectImageContainer a.standard {
    background: 0 0;
    margin-top: 0;
    padding: 0;
    display: inline;
    font-size: .9em;
    float: none;
    color: #039
}

.objectInfoContainer .info p {
    font-size: 1em
}

#dialog .inner {
    margin-top: 10px;
    font-size: .8em
}

#dialog .thumbImg {
    background: #ddd;
    border: 1px solid #ccc;
    float: left;
    margin: 0 20px 20px 0;
    padding: 5% 5.2% 5% 5%;
    width: 30%
}






.collectionBrowserObjectPackage {
    background: #efefef;
    width: 100%;
    height: 400px;
    float: left;
    margin: 30px 0;
    position: relative
}

.collectionBrowserObjectPackage img {
    margin: 0 auto;
    max-width: 96%;
    text-align: center;
    max-height: 200px
}




ul.secondaryNav {
    width: 100%;
    margin: 0;
    position: relative;
    float: left;
    font-size: 1em;
    list-style: none;
    padding: 0
}

ul.secondaryNav h2,
ul.secondaryNav h3 {
    margin: 0;
    font-size: 20px;
    padding: 15px
}

ul.secondaryNav h2 {
    font-size: 25px;
    border-top: 1px solid #ddd
}

ul.secondaryNav li {
    margin-bottom: 10px
}

ul.secondaryNav li span {
    width: 30px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -5000%;
    cursor: pointer
}

ul.secondaryNav a {
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    color: #333
}

ul.secondaryNav ul {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    list-style: none
}

ul.secondaryNav ul li {
    margin: 0;
    background: 0 0;
    border-bottom: none
}

ul.secondaryNav ul li a {
    padding: 10px;
    margin: 0 10px;
    display: block;
    font-weight: 300
}

ul.secondaryNav ul li.active {
    padding: 2px 2px 2px 0
}

ul.secondaryNav ul li.active a {
    padding: 9px 0 9px 20px;
    margin: 0 10px 0 0
}

ul.secondaryNav li {
    border-bottom: 1px solid #DDD
}



ul.secondaryNav ul {
    border-top: 1px solid #DDD
}

ul.secondaryNav ul li a {
    border-top: 1px solid #ddd
}

ul.secondaryNav ul li a:hover {
    background: #ddd
}

.filterRemoveButton:before,
a.show_less:before,
a.show_more:before {
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f067";
    display: inline-block;
    right: 10px;
    top: 50%;
    padding-right: 10px;
    color: #c3102f;
}

.filterRemoveButton:before,
a.show_less:before {
    content: "\f068"
}

ul.secondaryNav a.filterRemoveButton {
    border-top: none;
    color: #039
}

ul.content {
    padding: 0;
    width: 100%
}

.lcc-formContainer input.button {
    background: #AD0529;
    box-shadow: inset 0 1px 1px #df0635;
    border: none;
    width: auto;
    float: right;
    color: #fff;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px
}

.lcc-formContainer input.button:visited:after,
.lcc-formContainer input:after {
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 2.8em;
    content: "\f105";
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    padding: 0 13px!important;
    top: 0
}

#resultControls.formContainerOuter {
    padding: 0
}

#resultControls.formContainerOuter .floatRight {
    float: right
}

#resultControls.formContainerOuter .lcc-form {
    padding: 20px 0
}

#details{
    display:block; 
}


    @media screen and(max-width:990px){
    ul.secondaryNav{
       display:none;

       &.active{
           display:block;
       }
    }
}


    .btn.show{

        @media screen and(min-width:991px){
            display:none!important;
         }
     
     margin-bottom:20px;

        &:after {
    font-family: FontAwesome;
    content: "\f067";
    display:block;
    background:transparent;
    line-height:3.4em;
}

   &.active{
       margin-bottom:0px;
         &:after {
          content: "\f068";

         }
   }
    }


    .userControlMuseums button{
    margin-left:0px;
}


input[type=button].btn-primary, input[type=submit].btn-primary{

    padding: 15px 20px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    background: #c3102f;
    color:#fff;
    font-family: $font-primary;

    &:hover{
        background:darken( #c3102f,5%);
    }
}

