@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');
// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:19px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
//$btn-background-color:green ;
$font-primary:'Oswald', Helvetica, Arial;
$font-secondary: 'Oswald', Helvetica, Arial;


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#E86D1F;
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
$link-font-color:#414141;
$span-info-color:#ecf0f1;
$span-info-hover:darken(#ecf0f1,3%);
$span-info-secondary-color:#666;
$span-arrow-base:transparent;
$span-third-info-base:#fff;
//$third-info-font-color:#333;
$arrow-color:#414141;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#E86D1F;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:darken(#ecf0f1,5%);
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:green;
//$accordion-border-color:#ECF0F1;

//highlighted box in content assets
$highlighted-background-color:#fff;
$highlighted-font-color:#E86D1F;
$highlighted-alt-background-color:#f6f6f6 ;
$highlighted-alt-font-color:#333;

//mega-promo
//$promo-background-color:#F6F7FA;
$promo-arrow-color:#E86D1F;
//$promo-header-color:#c3102f;
//$promo-secondary-color:#666B76;
$promo-highlight-background-color:#E86D1F;
$promo-highlight-color:#fff;
$promo-arrow:"\f105";

$vistitorInfoBack:rgba(#ecf0f1, 0.9);
$vistitorInfoHeadingColor:#414141;

@import 'mixins';
@import 'variables';
@import 'brandColors';

// available sass files please un-comment out as required

//@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'sectionSubsite';
//@import 'promo';
@import 'carousel';
//@import 'socialMedia';
//@import 'sideNavigation';
//@import 'blockLinks';
@import 'accordion';
@import 'promoGroup';
@import 'alerts';
@import 'promoListwebpart';
//@import 'eventsWebparts';
@import 'sharepointOverides';
@import 'iconLinks';
//@import 'heroBanner';
//@import 'news';
//@import 'polaroids';
@import 'groupPromo';
//@import 'blocklinks';
//@import 'contentLink';
//@import 'docList';
@import 'contentAssets';
@import 'mega-promo';
@import 'museums';


h1,h2,h3,h4,h5{
    font-family:$font-primary;
}


p{
    font-family:$font-secondary;
}

.header-nav-container .logo {
    background:url(../images/leedsCity-logo-w.svg) left center  no-repeat;
    margin: 0px 0 0 -30px;
    height:150px;
    width:290px;
    background-size:140%;
    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:768px){
            text-align: center;
            margin:0 auto;

        }
}

.main-nav{
    border-top:1px solid darken($main-nav-background,5%);
    ul li a{
        font-size:20px;
    }
}






