// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

$base-background-color:#fff;
//$base-font-size:16px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#C71585 ;
$font-primary:  Arial,sans-serif; // main font
$font-secondary: Arial,sans-serif; // secondary font


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:darken(#80CCFF, 5%) ;
$main-nav-link:#333F07;

//footer.scss
$footer-font-color:#333F07;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;




//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
 $sectionHeader-background-color:#80CCFF;
$sectionOne-background-color:#fff ;
$sectionTwo-background-color:#fff ;
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:#C71585;
//$accordion-border-color:#ECF0F1;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
$primary-button-background-color:$main-nav-background;
//$primary-button-color:white !default;
$secondary-button-background-color:#ddd;
$secondary-button-color:darken($primary-button-background-color,30%);
//$outline-button-border-color:blue;
//$outline-button-color:blue;

//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
//$responsiveMenuWidth:1200px ;


//group promo colours
$group-promo-background-color: #f6f6f6;
$group-promo-header-color: #337ab7;
$group-promo-description-color: #666B76;
$group-promo-arrow-color: #C71585 ;

//Block quote
$blockquoteBorderColor:#F6F7FA;
$blockquoteQuoteColor:#C71585;
$blockquoteQuoteFooterColor:#C71585;


@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
@import 'content-assets'; //subsite only
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
@import 'events-search-results';
@import 'events-webparts';
@import 'group-promo';
@import 'hero-banner';
@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
@import 'news';
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner'; //work needed to have in page beta banner
@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';


.header-nav-container .logo {
    background:url(../images/logo.png) left center  no-repeat;
    margin: 50px 0 50px -30px;
    height:130px;
    width:350px;
    background-size:100%;
    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:768px){
            text-align: center;
            margin:0 auto;

        }
}


ul.breadcrumb li a {
    background: transparent;
}

.mainContent {
    margin: 0;
}


@font-face {
	font-family: 'BebasNeuewebfont';
	src: url('../fonts/BebasNeuewebfont.eot');
	src: local('../fonts/BebasNeuewebfont'), url('../fonts/BebasNeuewebfont.woff') format('woff'), url('../fonts/BebasNeuewebfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1962">Text with this font applied</p> */
.fontsforweb_fontid_1962 {
	font-family: 'BebasNeuewebfont' !important;
}

/* Font downloaded from FontsForWeb.com */

h1, h2, h3, h4, h5 {
	font-family: 'BebasNeuewebfont';
}

.ms-rtestate-field {
    &h1, &h2, &h3, &h4, &h5{
        font-family: 'BebasNeuewebfont';
}
    }



h1, h2, h3, .ms-rtestate-field h1, .ms-rtestate-field h2, .ms-rtestate-field h3 {

	color: #414141;
    font-family: 'BebasNeuewebfont';
}

.ms-rtestate-field h1, h1{
    font-size:65px;
}

.ms-rtestate-field h2, h2{
    font-size:50px;
}

.ms-rtestate-field h3, h3{
    font-size:40px;
}


.groupPromo{

&.thirds{
    li{
            width: calc(100% * (1/3) - 5px) !important;
    

           @media (max-width: 1024px) {
                    width: calc(100% * (1/2) - 5px) !important;
            }

              @media (max-width: 600px) {
                    width: calc(100% ) !important;
            }
    }
}  



&.multiColors
{

ul li {


    background:#ddd;
    text-align:center;
    border-radius:5px;

   a 
   {
    background:transparent;   
    padding:100px 30px;
    border-radius:5px;

   
   h3{
            font-size:50px;
            font-weight:200;
            line-height:50px;
            padding-right:0px;

            &:after{
                display:none;
            }
    
    }
 @media (max-width: 600px) {
       padding:30px;

       h3{
           font-size:40px;
       }
 }

}

}
}

}




.groupPromo {

    h3{
        font-family:arial;
        font-size:20px !important;
    }

    .listWebpart li.blue   {
        @include groupPromoMulticolors(#0092DF, #fff, #fff,#fff);
    }
    .listWebpart li.pink {
        @include groupPromoMulticolors(#eb278e, #fff,#fff,#fff);
    }
   .listWebpart li.green {
        @include groupPromoMulticolors(#ABCE1E, #fff,#fff,#fff);
    }

 .listWebpart li.orange {
        @include groupPromoMulticolors(#ffb200, #fff,#fff,#fff);
    }

     &.blue .listWebpart {
        @include groupPromo(#0092DF, #fff, #fff,#fff);
    }

      &.pink .listWebpart {
        @include groupPromo(#eb278e, #fff, #fff,#fff);
    }

      &.green .listWebpart {
        @include groupPromo(#ABCE1E, #fff, #fff,#fff);
    }

      &.orange .listWebpart {
        @include groupPromo(#ffb200, #fff, #fff,#fff);
    }
}


.groupPromo ul li
{
  border-radius:10px;
 a
{ 
     border-radius:10px;
    
    @media screen and (min-width:1200px){
        min-height:120px;
    }


    h3 {
    font-weight: 200;
}
}
}

 .panel {
    padding: 25px; border: 5px solid #efefef;
    border-radius: 13px;
    background:transparent;

    h2, h3{
        margin-top:0px;
        color:#C71585;
    }

    .panel{

    margin: 2em 0 0 0;
    background: #F6F7FA;
    border:none;
    border-radius:0px;
}
}



 .col-md-4 .groupPromo.list ul{

 border-bottom:1px solid #efefef;
 
  li {
     width: 100% !important;
     margin:0px;

    a{
        min-height:auto;
        border-top:1px solid #efefef;
        padding:15px;
    }
} 
 }


  .col-md-4 .groupPromo.full ul{


 
  li {
     width: 100% !important;
} 
 }


.btn{
    font-size:19px;
    text-decoration: none;
    border-radius:5px;
    text-decoration:none;
}



footer.main a {
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

.content-block {
    
    padding-bottom:15px;
    
    .btn {
    margin: 10px 20px 10px 0;
}

}

