// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
//$base-font-size:16px ;
//$base-font-color:#333 ;
$base-link-color:#A2AD00; ;
//$base-container-width:1500px ;
$btn-background-color:#A2AD00 ;
$font-primary: 'Helvetica Neue', Helvetica, Arial,;
$font-secondary:  'Helvetica Neue', Helvetica, Arial,;


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#A2AD00 ;
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
$span-info-color:#A2AD00;
$span-info-hover:darken(#A2AD00,10%);
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#A2AD00;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:#fff;
$sectionThree-background-color:#ecf0f1;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:green;
//$accordion-border-color:#ECF0F1;

//highlighted box in content assets
$highlighted-background-color:#ECF0F1;
$highlighted-font-color:#666;
$highlighted-alt-background-color:#A2AD00;
$highlighted-alt-font-color:#fff ;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
$primary-button-background-color:$main-nav-background;
//$primary-button-color:white !default;
$secondary-button-background-color:#ddd;
$secondary-button-color:$primary-button-background-color;
//$outline-button-border-color:blue;
//$outline-button-color:blue;


//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
//$responsiveMenuWidth:1200px ;


@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
//@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
//@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
//@import 'events-search-results';
//@import 'events-webparts';
@import 'group-promo';
//@import 'hero-banner';
//@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
@import 'news';
//@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
//@import 'journey-page';
//@import 'phase-banner'; //work needed to have in page beta banner
//@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';


.main-nav{
  border-top: 1px dashed #D1D680;
}

a{
    color:#A2AD00;
}

.logo {
    background:url(../images/logo.png) left center no-repeat;
    margin: 30px 0px;
    height:84px;
    width:390px;

    
    &:hover{
        text-decoration:none;
    }


        @media screen and (max-width:768px){
            text-align: center;

                &:after{
           font-size:30px;
            text-align: center;


    }
        }
}



.col-md-8 .blockLinks .listWebpart

{

    margin:0 -7.5px;

 ul li {
    margin: 0;
    padding:7.5px;
    width: 25%;

    @media only screen and (max-width:500px){
        width:50%;
    }

a{
    display:none,
}    

a.equal-item {
    text-align: center;
    font-size: 1em;
    float: left;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    margin: 0px;
    border: 1px dashed #A2AD00;
    color:#A2AD00;
    font-weight:bold;
    display:block;
}
}
}

.promoListWebpart ul li a .info {
    border-top: 1px dashed #fff;
    }


    .promoListWebpart{
    margin:0 -15px;
}


/*************
BLOCK CONTENT SIZES
*************/
.quarterBlock{
	width:25%;
}
.thirdBlock{
	width:33%;
}
.halfBlock{
	width:50%;
}
.fullBlock{
	width:100%;
}
@media only screen and (max-width: 850px){
	.quarterBlock, .fullBlock{
		width: 50%;
	}
}
@media only screen and (max-width: 800px){
	.quarterBlock{
		width: 50%;
	}
}
@media only screen and (max-width: 600px){
	.quarterBlock, .halfBlock, .thirdBlock, .fullBlock{
		width: 100%;
	}
}
/*END BLOCK CONTENT SIZES*/


/*************
.contentLink overides
*************/

.contentLink .listWebpart {

margin:0 -18px;

ul li 
{
    margin: 60px 0 60px 0;


.btn{
    background:#A2AD00;
      box-shadow: inset 0 1px 1px lighten(#A2AD00, 10%);

         &:hover{
           background:darken(#A2AD00, 10%);
           border-color:darken(#A2AD00, 10%);
       }
}

 &:nth-child(even) div {
   border-color:#E67E22;
   .btn{
       background:#E67E22;
       box-shadow: inset 0 1px 1px #fd9e4a;
       border-color:#E67E22;

       &:hover{
           background:darken(#E67E22, 10%);
           border-color:darken(#E67E22, 10%);
       }
   }
 }  

div {
    padding:30px;
    background: #FFF;
    text-align: left;
    border: 1px dashed #A2AD00;

    img{
        width:auto;
        float:right;
    }

    h2{
        margin-top:0px;
    }

    .btn {
      display:inline-block;
      width:auto;
      max-width:450px;
      text-align: center;
    }

    @media only screen and (max-width:1000px){
       text-align: center;
            
        img{
            margin:0 auto 15px auto;
            float:none;
        }
    }
}

 @media only screen and (max-width:768px){
     width:100%;
 }
}
}
/*END contentLink overides*/

.btn{
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}





hr {
        border-top: 1px dashed #666;
}

/*******************
Highlighted overides
*******************/

.panel, .blockText{

    h3{
       border-bottom:1px dashed #666;
       padding-bottom:20px;
       text-transform: uppercase;
       font-weight:bold;
       margin-bottom:20px;
    }

        h4{
       color:#333;
    }

}

.blockText{
    background:#ECF0F1;
    padding: 30px;

    h3 {
        margin-top:0px;
    }
}

/*******************
docList overides
*******************/

.docList{
  background:$highlighted-background-color;
  padding:20px;
  margin-bottom:50px;

  .listWebpart ul li{
      float:none;

      a {
          border-bottom:none;
      }
  }

  h3{
       color:#333;
       font-size:20px;
       border-bottom:1px dashed #666;
       padding-bottom:20px;
       text-transform: uppercase;
       font-weight:bold;
       margin-top:10px;
  }

}

/*docList END*/

/*******************
VENUE ADDRESS
*******************/

.venueAddress{
    margin:-10px 0 0px;
}

.venueAddress p{
    line-height:1.2em;
    font-size:1.2em;
    color:#666;
    margin:0 0 5px 25px;
    padding:0;
}

.venueAddress hr{
    margin: 20px 0 10px;
}

.venueAddress p span.icon{
    width:16px;
    height:17px;
    display:block;
    float:left;
    margin:0 8px 0 -25px;
}

.venueAddress p span.icon-map{
    background:url(../Images/icon-map.png) center center no-repeat;
}

.venueAddress p span.icon-phone{
    background:url(../Images/icon-phone.png) center center no-repeat;
}

.venueAddress p span.icon-clock{
    background:url(../Images/icon-clock.png) center center no-repeat;
}

@media only screen and (max-width: 600px) {
    
    .venueAddress{
        margin:-5px 0 0px;
    }
    
    .venueAddress p{
        font-size:1.1em;
    }
    
}

/*VENUE ADDRESS END*/

/***********************
BLOCK VENUE DETAILS
***********************/

.blockVenueDetails{
    width:100%;
    float:left;
    margin:0 0 20px;
    position:relative;
}

.blockVenueDetails .listWebpart{
    margin:0;
    padding:0px;

    h2{
    border-bottom:1px dashed #666;
    margin:0 0 10px;
    padding:0 0 10px;
    font-size:18px;
    color:#000;
    font-weight:bold;
    line-height:1em;
    text-transform:uppercase;
    position:relative;



     img{
    position:absolute;
    right:0px;
    top:-5px;
    margin:0;
    width:30px;
    height:30px;
}
}

ul{
    margin:0;
    padding:0;

    li{
    margin:0;
    padding:0;

    div{
        background:#ECF0F1;
        padding:30px;
        margin:0 0 30px 0;
    }

    a{
    margin:5px 0 0px;
    padding:0 0px;
    color:#A2AD00;
    text-transform:capitalize;
    font-size:16px;

    &:hover{
    background:none;
    color:#687100;
    text-decoration:underline;
}
}
}
}
}

/*BLOCK VENUE DETAILS END*/

.docList.one li a
{

color:#333;

&:before {
    margin-top: 0px;
}
}


.sectionOne .col-md-8{
  margin-bottom:50px;
}