$base-background: #F6F7FA;
$base-brand: $black;

// ------ Hero content
$campaign-hero-background: #F6F7FA;
$campaign-hero-title: $black;
$campaign-hero-text: $black;

// ------ Highlighted text
$campaign-highlighted-text-border: #F6F7FA;

// ------ Panel with images
$campaign-panel-img-background-colour: #F6F7FA;
$campaign-panel-img-heading-colour: $black;
$campaign-panel-img-text-colour: $black;

// ------ Logos 
$campaign-logos-bg: #F6F7F8;
$campaign-logos-sm-border: #F6F7FA;

// ------ Pods
// background
$campaign-pod-background: #F6F7FA;
$campaign-pod-one-background: #F6F7FA;
$campaign-pod-two-background: #F6F7FA;
$campaign-pod-three-background: #F6F7FA;

// text colour
$campaign-pod-text-colour: $black;
$campaign-pod-one-text-colour: $black;
$campaign-pod-two-text-colour: $black;
$campaign-pod-three-text-colour: $black;

// ------ Accordion
$campaign-accordion-header-text-colour: #F6F7FA;
$campaign-accordion-indicator-bg: #F6F7FA;
$campaign-accordion-indicator-text-colour: $black;

// ------ Blockquotes
$campaign-blockquote-colour: $black;
$campaign-block-quote-line-colour: $black;

// ------ Panel with icons
$campaign-panel-icon-bg-colour: #F6F7FA;
$campaign-panel-icon-heading-colour:$black;
$campaign-panel-icon-text-colour:$black;