.btn--print {
    display: inline-block;
}

@media print {
    body {
        margin: 10mm 0mm;
    }
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }

    #main-menu, .sideNav, .header-left:after {
        display:none !important;
    }
    .heroBanner {
        padding:0 !important;
        background: none !important;
        color:black !important;
        min-height:0 !important;
    }
    .secondaryFooter {
        .iconLinks, nav {
            display:none !important;
        }
    }
    .ms-rteElement-spacer, hr.ms-rteElement-spacer, hr.spacerBottom, hr.spacerTop, .ms-PartSpacingVertical {
        display:none !important;
    }
    .listWebpart ul {
        display:none !important;
    }
    .masterhead {display:none !important;}
    .ms-rtestate-field h2 {
        margin-top:0 !important;
    }
    .sectionHeader {
        background: none !important;
        display: block !important;

        .header-left .logo {
            display: inline-block !important;
            background-image:url(https://www-at.leeds.gov.uk/childfriendlyleeds/PublishingImages/cfl-thumb-logo-orange.jpg) !important;
            margin: 0 0 30px !important;
            width:120px !important;
            height:140px !important;
            -webkit-print-color-adjust: exact !important;
        }
    }
}