.container--print {
    padding-top:1em;
    padding-bottom:1em;

    .btn--print {
        display: inline-block;
        padding: 0;
        margin: 0;
        background: none !important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        color: $black !important;
        font-size: 16px;
        display: flex;
        align-items: center;
        line-height: 1em;

        &:hover {
            text-decoration: underline !important;
        }

        &:focus {
            background-color: #FFBF47!important;
            color: #212224!important;
            text-decoration: none;
            outline: 0;
        }

        img {
            width: 25px;
            margin-right: 0.5em;
        }

    }
}

@media print {
    body {
        margin: 10mm 0mm;
    }
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    img, div, ul, ol, table {
        page-break-inside: avoid;
    }
    
    thead {display: table-row-group;} //stops thead overlapping two pages

    #main-menu, .sideNav, .header-left:after {
        display:none !important;
    }
    .heroBanner {
        padding:0 !important;
        background: none !important;
        color:black !important;
        min-height:0 !important;
    }
    .secondaryFooter {
        .iconLinks, nav {
            display:none !important;
        }
    }
    .ms-rteElement-spacer, hr.ms-rteElement-spacer, hr.spacerBottom, hr.spacerTop, .ms-PartSpacingVertical {
        display:none !important;
    }
    .listWebpart ul {
        display:none !important;
    }
    .masterhead {display:none !important;}
    .ms-rtestate-field h2 {
        margin-top:0 !important;
    }
    .sectionHeader {
        display:none !important;
        // background: none !important;
        // display: block !important;

        // .header-left .logo {
        //     display: inline-block !important;
        //     background-image:url(https://www-at.leeds.gov.uk/childfriendlyleeds/PublishingImages/cfl-thumb-logo-orange.jpg) !important;
        //     margin: 0 0 30px !important;
        //     width:120px !important;
        //     height:140px !important;
        //     -webkit-print-color-adjust: exact !important;
        // }
    }
    .js .accordion__panel {
        max-height: none;
        visibility: visible;
        padding: 0;
        margin: 0 0 1em;
        
        &[aria-hidden=false] {
            padding:0;
            border:0;
        }

        ul {
            padding:0;
        }
    }
    .js .accordion__trigger {
        padding-left:0;
        border-left: 0;

        &:after {
            display:none;
        }
    }
    .docList {
        display:none;
    }
}