@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
$base-font-size:20px ;
$base-font-color:#212224 ;
$base-link-color:#F38520 ;
//$base-container-width:1500px ;
$btn-background-color:#FFC82E ;
$font-primary: oswald, Arial ; // main font
$font-secondary: oswald, Arial ; // secondary font

//button colours
$primary-button-background-color:#FFC82E;
//$primary-button-color:white !default;
$secondary-button-background-color:#F38520;
//$secondary-button-color:white !default;
$outline-button-border-color:#FFC82E;
$outline-button-color:#FFC82E;


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#f79943 ;
//$main-nav-link:#fff ;

//footer.scss
$footer-font-color:#576170  ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
//$social-link-color:#337ab7 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
$span-info-color:#FFC82E;
$span-info-hover:#F38520;
$span-info-secondary-color:#414141;
$span-arrow-base:rgba(0,0,0,0.08);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
$content-arrow-color:#F38520;
//$content-border-color:#ddd;

// section backgrounds
$sectionHeader-background-color:#F38520;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:#333;
$sectionThree-background-color:#f6f6f6 ;
$sectionFour-background-color:#fff;
$sectionFive-background-color:#F0EFEF ;


//iconlinks
$iconLinkIconColor:$btn-background-color;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
$accordion-color:green;
//$accordion-border-color:#ECF0F1;


//Block quote
$blockquoteBorderColor:rgba(0,0,0, 0.5) ;
$blockquoteQuoteColor:#f38520;
$blockquoteQuoteFooterColor:#999;

//highlighted box in contentAssets
$highlighted-background-color:#f6f6f6;
$highlighted-font-color:#333;
$highlighted-alt-background-color:#414141;
$highlighted-alt-font-color:#fff;

//mega-promo
//$promo-background-color:#F6F7FA;
//$promo-arrow-color:#9DA5B2;
//$promo-header-color:#3D414A;
//$promo-secondary-color:#666B76;
//$promo-highlight-background-color:#F6F7FA;
//$promo-highlight-color:#3D414A;
//$promo-arrow:"\f054";

//button colours
//button colours
//$primary-button-background-color:green;
//$primary-button-color:white !default;
//$secondary-button-background-color:blue;
//$secondary-button-color:white;
//$outline-button-border-color:blue;
//$outline-button-color:blue;


//group promo colours
//$group-promo-background-color: #F6F7FA;
//$group-promo-header-color: #3D414A;
//$group-promo-description-color: #666B76;
//$group-promo-arrow-color: #9DA5B2;

//panel colors
//$panel-event-date-background-light:$base-link-color;
//$panel-event-date-background-dark:darken($panel-event-date-background-light,5%);
//$panel-event-date-color:white;
//$hightlight-color:$base-link-color;
//$panel-alt-color:white;

//extra colours
//$focus-color:#FFBF47;
//$secondary-link-color:#003F55;
//$secondary-font-color:#666B76;
//$border-color:#DCDEE1;
//$panel-color:darken(#F6F7FA,3%);
//$button-hover-color:lighten(#008000,5%);
//$base-link-hover-color:#3399BB;
//$black:#212224;
//$light-black:#3D414A;
//$dark-grey:#666B76;
//$grey:#9DA5B2;
//$light-grey:#DCDEE1;
//$lighter-grey:#F6F7FA;


//form colours
//$input-color:#212224;
//$input-border-color:#9DA5B2;


//Arrow Link
//$ArrowLinkBorderColor:#bbcada;
//$ArrowLinkColor:#333 ;

//responsive menu width
//$responsiveMenuWidth:1200px ;



$white:#fff;

@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
@import 'content-assets'; //subsite only
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
@import 'events-search-results';
@import 'events-webparts';
@import 'group-promo';
//@import 'hero-banner';
@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
//@import 'lcc-base-styles'; //needs finalising - DH & RM
//@import 'lcc-doc-list'; //see above - DH
//@import 'lcc-footer'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-header'; //needs aligning with header - is it leeds.gov specific? - DH
//@import 'lcc-hero'; //needs aligning with hero - is it leeds.gov specific? - DH
//@import 'lcc-news'; //needs aligning with footer - is it leeds.gov specific? - DH
//@import 'lcc-search'; //needs aligning with global search - is it leeds.gov specific? - DH
@import 'mega-promo';
@import 'news';
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner'; //work needed to have in page beta banner
@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
@import 'side-navigation'; //needs aligning with side-nav - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';

body{
    font-weight:200 !important;
}

a:visited{
    color:darken(#F38520, 10%);
 } 

            .header-left{
                width:100%;
                position:relative;

                      &:after{
                        content:'We’re working to bring everyone together to make Leeds a child friendly city';
                        float:right;
                        color:#fff;
                        position:absolute;
                        right:0px;
                        font-size:25px;
                        top:50%;
                        text-align:center;
                        padding-left:150px;

                        @media screen and (max-width:768px){
                           display:none;
                        }
                    }



                    .logo {
                    background:url(../images/logo.png) left center no-repeat;
                    margin: 30px 0px;
                    height:157px;
                    width:133px;

              
                    
                    &:hover{
                        text-decoration:none;
                                        }


                                                    @media screen and (max-width:768px){
                                                        text-align: center;
                                                        margin:20px auto;
                                                        height:119px;
                                                        width:100px;
                                                        background-size:100%;

                                                                            &:after{
                                                                    font-size:30px;
                                                                        text-align: center;


                                                                }
                                                                                       }
                        }  
                 } 



.sectionTwo{
    h2,h3,h4,h5,p, ul, ol {
        color:#fff;
    }
}


.silloette{
      background: url(../images/silloette.png) no-repeat center bottom;  
      height:200px;
      margin:30px 0;
}

footer.main, footer.main .footer,  {
  background:#fff;

  .footerGlobal{
      background:#F0EFEF;
  }
}

.promoListWebpart{

 margin:50px -15px;   


    .content ,  .content.heightTwo ,.contentLink,  .contentLink.heightTwo  {
        p

{

strong {
    font-size: 25px;
    font-weight:100;
    margin-top:0px;
    line-height:28px;
    font-weight:600;

            &.lead{   
    font-weight: 600;
    font-size: 100px;
    line-height: 75px;
    color: rgb(243, 133, 32);

    }

}



    }}

 .bold{
     font-weight:bold;
 }

 .four div{
     margin:80px;

     @media screen and (max-width:1200px){
              margin:0px;
     }
 }

.content a.button{
     margin:0 15px 15px 0;
     display:inline-block;
     float:none;
      @media screen and (max-width:1200px){
          width:100%;
          text-align: center;
          padding-left:55px;
      }

 }

   @media screen and (max-width:1000px){
     .two,.three,.four{
         width:100%;
     }

   }


}

.main-nav ul li a {
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:100;}







//sidenav 
.sideNav {
    padding: 0px;
    margin:0px 0;
    border-bottom:1px solid #efefef;
    background:#f6f6f6;


    ul.nav{
        margin:0 auto;
        padding:0px 10px;
        max-width:1500px;
        display:block;

        li{
            margin: 0;
            padding:0;
            display:inline-block;


            a {
                font-size: 1.2em;
                margin: 0;
                padding: 20px 15px;
                background: transparent;
                width: 100%;
                text-decoration:none !important;
                font-weight:400;
                text-transform: uppercase !important;

                &:hover{
                    color: darken($base-link-color, 10%);
                    background:#f2f2f2 !important;
                }

                &.active, &.active:hover {
                    color: #F38520;
                    background:transparent !important;
                   
                    cursor:default;
                }

                
                @media screen and (max-width:768px){

                font-size: 0.9em;
                padding: 20px 5px;
                }
            }
        }

      }

    
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-tv-selected:link, a.ms-tv-header:hover, a.ms-tv-item:hover {
    background-color: #E3730D;
    color: #fff;
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-tv-selected:link, a.ms-tv-header:hover, a.ms-tv-item:hover,.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link  {
    background-color: #e3730d !important;
    color: #fff;
}




.sectionTwo .promoListWebpart ul li.border a .info {
    border:1px solid #777;
 }


.promoListWebpart .border div
{
  border:1px solid #777;
    div {
      border:none;
  }
}










  .ms-rteElement-button
    {
      position:relative;
      display:inline-block;
      padding: 20px 55px 20px 35px;
      color:#fff;
      background:$btn-background-color;
      text-transform:uppercase !important;
      box-shadow:none;
      font-weight:400;
      font-size:18px;

      &:hover, &.btn-default:hover, &.alt:hover {
          background:darken(#F38520,10%);
          border-color:darken(#F38520,10%);
          color:#fff;
          text-decoration:none;
      }

      &.btn-default, &.alt
{
  border:1px solid;
  box-shadow:none;
  background:transparent;
}

      &:after{
                            font-family: FontAwesome;
                            font-size:22px;
                            line-height:2.8em;
                            content: "\f105";
                            position:absolute;
                            right:0px;
                            height:100%;
                            background:rgba(0,0,0,0.1);
                            padding:0 13px !important;
                            top:0px;
    }
    }

.iconLinks h2{
    text-align:center;
}



.logo-footer span {
    background: url(../../images/lcclogo.svg) center center no-repeat;
}

.media-container{
    background:#fff;
}
.breadcrumb ul {
    margin:0px;
    padding:0px;
}


.promoListWebpart .border 
{
  height:auto;
  padding-bottom:0px;

  div {
         padding:0px;
  div {
     padding:30px;
  }
  }
@media only screen and (max-width:1200px) {
.two.border 
{
  width:33.3333% !important;
}
}

@media only screen and (max-width:960px) {
 .two.border 
{
  width:100% !important;
}
}





p strong.lead,  p strong.lead
{
   font-size:70px;
}


 a
{
   position:relative;
   top:0px;
   width:100%;
   margin:0px;

   .info {
    position:relative;
    top: 0px;
    border:1px solid #ccc;
    border-top:none !important;
    color:#fff;
 }

}



}

.promoListWebpart ul li .link .secondaryInfo, .promoListWebpart ul li a .secondaryInfo {
    width: 100%;
}

 .promoListWebpart ul li a .info{
     opacity:0.95;
    filter: alpha(opacity=95);
 }


.sectionFive .panel.alt{
    background:darken($sectionFive-background-color,10%);

    h2,h3,p,ul,ol,div{
        color:#414141;
    }
}


.btn, .button, .iconLinks li .link, .iconLinks li a,.ms-rteElement-button {
    text-decoration:none;
}

.footer.main a {
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

.sectionThree .panel{
    background:#fff;
}

.heroBanner{
    min-height:400px;
}
