// ------ Hero content
$campaign-hero-background: #49484D;
$campaign-hero-title: #E8D916;
$campaign-hero-text: #ffffff;

// ------ Highlighted text
$campaign-highlighted-text-border: #49484D;

// ------ Panel with images
$campaign-panel-img-background-colour: #49484D;
$campaign-panel-img-heading-colour: #E8D916;
$campaign-panel-img-text-colour: #ffffff;

// ------ Logos 
$campaign-logos-bg: #F6F7F8;
$campaign-logos-sm-border: #49484D;

// ------ Pods
// background
$campaign-pod-background: #49484D;
$campaign-pod-one-background: #49484D;
$campaign-pod-two-background: #49484D;
$campaign-pod-three-background: #49484D;

// text colour
$campaign-pod-text-colour: #E8D916;
$campaign-pod-one-text-colour: #E8D916;
$campaign-pod-two-text-colour: #E8D916;
$campaign-pod-three-text-colour: #E8D916;

// ------ Accordion
$campaign-accordion-header-text-colour: #263238;
$campaign-accordion-indicator-bg: #49484D;
$campaign-accordion-indicator-text-colour: #E8D916;

// ------ Blockquotes
$campaign-blockquote-colour: #E8D916;