// ------ Hero content
$campaign-hero-background: #4d4d4d;
$campaign-hero-title: #f7f719;
$campaign-hero-text: #ffffff;

// ------ Highlighted text
$campaign-highlighted-text-border: #4d4d4d;

// ------ Panel with images
$campaign-panel-img-background-colour: #4d4d4d;
$campaign-panel-img-heading-colour: #f7f719;
$campaign-panel-img-text-colour: #ffffff;

// ------ Logos 
$campaign-logos-bg: #F6F7F8;
$campaign-logos-sm-border: #4d4d4d;

// ------ Pods
// background
$campaign-pod-background: #4d4d4d;
$campaign-pod-one-background: #4d4d4d;
$campaign-pod-two-background: #4d4d4d;
$campaign-pod-three-background: #4d4d4d;

// text colour
$campaign-pod-text-colour: #f7f719;
$campaign-pod-one-text-colour: #f7f719;
$campaign-pod-two-text-colour: #f7f719;
$campaign-pod-three-text-colour: #f7f719;

// ------ Accordion
$campaign-accordion-header-text-colour: #263238;
$campaign-accordion-indicator-bg: #4d4d4d;
$campaign-accordion-indicator-text-colour: #f7f719;

// ------ Blockquotes
$campaign-blockquote-colour: #4d4d4d;
$campaign-block-quote-line-colour: #45b9bb;